<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">McGill Boiler MACT Solutions</h4><br />
        <div class="card-text">
            <p>McGill AirClean is uniquely positioned in the air pollution control industry with the ability to supply multiple solutions for any given application. With this advantage, we will customize an ideal solution based on an individual application, and not just promote a technology because it is all we can offer. We offer turnkey systems with complete engineering, manufacturing, construction, and service.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/1.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Dry Sorbent Injection Systems</h5>
                <p>Controlling</p>
                <ul>
                    <li>HCl and HF</li>
                    <li>Other acid gases</li>
                    <li>Heavy metals, including mercury</li>
                    <li>Dioxins/furans</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/2.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Dry Sorbent Injection Systems</h5>
                <p>Suited for controlling</p>
                <ul>
                    <li>HCl and HF</li>
                    <li>Other acid gases</li>
                    <li>Heavy metals, including mercury</li>
                    <li>Dioxins/furans</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/3.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Pulse-Jet Fabric Filters</h5>
                <p>Used exclusively for hot processes, such as boiler and incinerator applications.</p>
                <ul>
                    <li>Particulates and opacity</li>
                    <li>Heavy metals, including mercury</li>
                    <li>Dioxins/furans</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/4.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Dry Electrostatic Precipitators</h5>
                <p>Controlling</p>
                <ul>
                    <li>Particulates and opacity</li>
                    <li>Heavy metals, including mercury</li>
                    <li>Dioxins/furans</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/5.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Wet Electrostatic Precipitators</h5>
                <p>Controlling</p>
                <ul>
                    <li>Particulates and opacity</li>
                    <li>HCl and HF</li>
                    <li>Other acid gases</li>                            
                    <li>Heavy metals, including mercury</li>
                    <li>Dioxins/furans</li>
                </ul>
            </div>
        </div>                
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-16by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/6.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Mobile Dry or Wet Electrostatic Precipitators</h5>
                <p>On site testing</p>
                <p>Ideally suited to prove product application and performance as well as give the owner an opportunity to become familiar with the equipment. </p>
            </div>
        </div> 
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-1by1">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/7.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>DeNOx SCR Reactors</h5>
                <p>Controlling</p>
                <ul>
                    <li>NOx</li>
                    <li>CO</li>
                </ul>
            </div>
        </div>                   
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-16by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mact/8.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h5>Regenerative Thermal Oxidizers (RTO)</h5>
                <p>Controlling</p>
                <ul>
                    <li>VOCs</li>
                </ul>
            </div>
        </div> 
        <div class="col-xs-12">
            <h5>Abbreviated McGill Experience</h5>
            <ul>
                <li><b>97</b> electrostatic precipitators (wet and dry) on boiler and incinerator applications</li>
                <li><b>119</b> pulse-jet fabric filters on boiler and incinerator applications</li>
                <li><b>136</b> acid gas control systems</li>
            </ul>
        </div>                                   
    </div>
</div>