<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Volume Control Dampers for Round, Flat Oval and Rectangular Duct Systems</h4><br />
                <div class="card-text">
                    <p>Volume control dampers are designed for two primary functions: two position (open/closed) or proportional (modulating). McGill AirFlow offers a complete line of volume control dampers that meet a variety of applications. These standard designs are available for “quick ship” programs of two weeks or less. We can also design volume control dampers to meet your special requirements.</p>
                    <p>Dampers are available in a range of round, flat oval, and rectangular sizes. They can be furnished with optional manual, electric, or pneumatic actuators. Depending on the model, these dampers are availble in galvanized steel, stainless steel. and cold-rolled steel and have a maximum operating temperature of 250°F without seals and 150° with seals.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/voldamper_grp.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Round & Flat Oval Volume Dampers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Round and Flat Oval Volume Control Dampers</h4><br />
                <div class="card-text">
                    <p>The VC22 volume control damper is designed for all types of round duct applications such as variable air volume systems, etc. It is available in 6- through 18-inch diameters. The VC22H is available in 6- through 48-inch diameters. The VC22HO is flat oval and available in single-wall, and double-wall constructions. All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc22.jpg">
                        <figcaption><strong>VC22 and VC22H (round)<br />VC22HO (flat oval)</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>Designed for volume control and/or shut-off use in round ducts from 12- through 28-inch diameters, the VC23 comes with two opposed blades and covers a range of sizes larger than those available in the VC22. It can also be used in applications where limitations in the depth of the space envelope preclude the use of single blade dampers. For diameters exceeding 28 inches, see the model VC24. It is available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc22.jpg">
                        <figcaption><strong>VC23</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>Designed for two position or proportional control of low-pressure, low-velocity applications where a round damper is required that exceeds the maximum size limitations of the VC22 or VC23. The VC24P parallel blade is recommended for constant pressure drop applications such as fresh and return air dampers. The VC24O opposed blade is designed for varying pressure drop applications. Available in sizes of 24- through 50-inch diameters. All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc24.jpg">
                        <figcaption><strong>VC24P (parallel blade)<br />VC24O (opposed blade)</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>The VC25 is designed for all types of low-leakage, round duct applications. It is available in 4- through 24-inch diameters. For diameters exceeding 24 inches, contact McGill AirFlow. The VC25H is available in 6- through 48-inch diameters. The VC25D and VC25HD are available in double-wall constructions. The VC25HO and VC25HDO are flat oval and availble in single-wall, and double-wall constructions. All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc25.jpg">
                        <figcaption><strong>VC25, VC25D, VC25H, and VC25HD (round)<br />VC25HO and VC25HDO (flat oval)</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>The VC560 Series is designed for all types of round duct applications ranging from 3- through 72-inch diameters. These dampers are available in a variety of materials and optional features suitable for most service conditions. The VC560 Series is designed to operate at pressures up to 30-inch wg, velocities to 6,400 fpm, and temperatures to 250°F without seals and 150°F with seals. A full range of optional actuation systems are available in either electric or pneumatic operation. All models are available in cold-rolled steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/UVC561.jpg">
                        <figcaption><strong>VC561, VC562, and VC563</strong></figcaption>
                    </figure>
                </div>

                <div class="card-text">
                    <hr>
                    <b>Round and Flat Oval Volume Control Dampers Specification Data</b>
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td rowspan="2">Model</td>
                                  <td colspan="3">Specification Data</td>
                              </tr>
                              <tr class="mcgill-mediumblue">
                                  <td>Maximum Face Velocity (fpm)</td>
                                  <td>Maximum Differential Pressure (inches wg)</td>
                                  <td>Maximum Temperature (w/o seals | w/seals) (°F)</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>VC22</td>
                                  <td>3000</td>
                                  <td>2</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC22H</td>
                                  <td>3000</td>
                                  <td>4</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC23</td>
                                  <td>3000</td>
                                  <td>2</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC24</td>
                                  <td>3000</td>
                                  <td>2</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC25</td>
                                  <td>3000</td>
                                  <td>6</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC25D</td>
                                  <td>3000</td>
                                  <td>6</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC25H</td>
                                  <td>3000</td>
                                  <td>4</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC25HD</td>
                                  <td>3000</td>
                                  <td>4</td>
                                  <td>180° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC561</td>
                                  <td>3900</td>
                                  <td>5</td>
                                  <td>250° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC562</td>
                                  <td>5150</td>
                                  <td>8.5</td>
                                  <td>250° | 150°</td>
                              </tr>
                              <tr>
                                  <td>VC563</td>
                                  <td>6400</td>
                                  <td>13.5</td>
                                  <td>250° | 150°</td>
                              </tr>
                          </tbody>
                        </table>
                </div>
                </div>
            </div>
        </tab>
        <tab heading="Rectangular Oval Volume Dampers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Rectangular Volume Control Dampers</h4><br />
                <div class="card-text">
                    <p>The VC1 parallel blade damper is recommended for constant pressure drop applications such as mixing air, multi-zone, face and by-pass, as well as normal open/ closed applications. The VC2 opposed blade damper is recommended for varying pressure drop applications such as volume control.</p>
                    <p>VC1 and VC2 dampers are designed for in duct mounting. The single thickness, roll formed blades and roll formed frame are capable of withstanding differential pressures of 4-inch wg and 2,000 fpm at its maximum panel width (for higher pressures and velocities, contact McGill AirFlow). All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc2.jpg">
                        <figcaption><strong>VC1 and VC2</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>These dampers are used as an alternate selection to Models VC1 and VC2 when heavier gauges, larger axles, or different alloys are required. Unlike roll formed products, blade widths can vary, maximizing free area and lowering pressure drop. These models allow flexibility to change frame styles and depths for different mounting applications. Corrosive or spark resistant applications are common uses for these models. All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc21.jpg">
                        <figcaption><strong>VC20 and VC21</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>These dampers are designed for in duct mounting. The airfoil, roll formed blades, and roll formed frame are capable of withstanding differential pressures of 6-inch wg and velocities up to 4,000 fpm at its maximum panel width (for higher pressures and velocities, contact McGill AirFlow). All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc27.jpg">
                        <figcaption><strong>VC26 and VC27</strong></figcaption>
                    </figure>
                </div>
                <hr>
                <div class="card-text">
                    <p>These dampers are used as an alternate selection to the VC26 and VC27 when heavier gauges, larger axles, or different alloys are required. Unlike roll formed products, blade widths can vary, maximizing free area and lowering pressure drop.</p>
                    <p>These models allow the flexibility to change frame styles and depths for different mounting applications. Corrosive or spark resistant applications are common uses for these models. All models are available in galvanized steel and stainless steel.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/vcdampers/uvc31.jpg">
                        <figcaption><strong>VC30 and VC31</strong></figcaption>
                    </figure>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Rectangular Volume Control Dampers Specification Data</b>
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td rowspan="3">Model</td>
                                  <td colspan="4">Specification Data</td>
                              </tr>
                              <tr class="mcgill-mediumblue">
                                  <td rowspan="2">Maximum Face<br />Velocity (fpm)</td>
                                  <td rowspan="2">Maximum Differential<br />Pressure (inches wg)</td>
                                  <td colspan="2">Maximum Temperature (°F)</td>
                              </tr>
                              <tr class="mcgill-mediumblue">
                                  <td>w/o seals</td>
                                  <td>w/ seals</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>VC1</td>
                                  <td>2000</td>
                                  <td>4</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC2</td>
                                  <td>2000</td>
                                  <td>4</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC20</td>
                                  <td>3000</td>
                                  <td>2</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC21</td>
                                  <td>3000</td>
                                  <td>2</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC26</td>
                                  <td>4000</td>
                                  <td>6</td>
                                  <td>150°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC27</td>
                                  <td>4000</td>
                                  <td>6</td>
                                  <td>150°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC30</td>
                                  <td>3000</td>
                                  <td>4</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                              <tr>
                                  <td>VC31</td>
                                  <td>3000</td>
                                  <td>4</td>
                                  <td>200°</td>
                                  <td>150°</td>
                              </tr>
                          </tbody>
                        </table>
                </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>