<div class="animated fadeIn">
  <tabset>
    <tab heading="Single-Wall Rectangular Duct">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Single-Wall Rectangular Duct</h4><br />
        <div class="card-text">
          <b>Single-Wall Rectangular Duct</b><br />
          <p>McGill AirFlow's single-wall, rectangular duct and fittings are factory fabricated to furnish you with a high-quality
            line of products in a broad range of standard sizes. To minimize field-assembly costs, rectangular duct is supplied
            in lengths up to 6 feet. Longitudinal seams are typically made with Pittsburgh locks or button-punch snap locks.
            In addition to economical TDC™ transverse duct connectors, S & drive slip joints, four-bolt connectors, and applied
            duct connectors are available. Rectangular ductwork can be shipped completely assembled or knocked down. McGill
            AirFlow's standard rectangular products are fabricated to meet SMACNA's 1995 duct construction standards. Plus,
            we can custom fabricate rectangular ductwork for commercial and industrial applications according to your specifications.</p>
        </div>
        <div class="media">
          <div class="media-left">
            <img src="assets/img/swrectduct/sw_rectangular2.jpg">
          </div>
          <div class="media-body">
          </div>
        </div>
        <div class="card-text">
          <hr>
          <b>Available Sizes, Materials, and Thicknesses</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                <tr>
                  <td>Construction</td>
                  <td>Materials<sup>3</sup></td>
                  <td>Thickness</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="3">Uni-Seal™ (Pittsburgh Lockseam)<br /><img src="assets/img/swrectduct/pittsburghlock.jpg" /></td>
                  <td>Galvanized Steel</td>
                  <td>28-18 gauge<sup>1</sup></td>
                </tr>
                <tr>
                  <td>Stainless Steel</td>
                  <td>26-22 gauge<sup>2</sup></td>
                </tr>
                <tr>
                  <td>Aluminum</td>
                  <td>0.032-0.063 inch</td>
                </tr>
                <tr>
                  <td rowspan="3">Uni-Seal (Button-Punch Snap Lock)<br /><img src="assets/img/swrectduct/buttonpunchlock.jpg" /></td>
                  <td>Galvanized Steel</td>
                  <td>28-20 gauge<sup>1</sup></td>
                </tr>
                <tr>
                  <td>Stainless Steel</td>
                  <td>26-22 gauge<sup>2</sup></td>
                </tr>
                <tr>
                  <td>Aluminum</td>
                  <td>0.032-0.063 inch</td>
                </tr>
              </tbody>
            </table>
          </div><br />
          <div class="col-xs-12">
            <p class="small">
              <u>Notes</u>
            </p>
            <ol>
              <li class="small">Galvanized steel fittings with Pittsburgh lockseam construction are also available in 16 gauge.</li>
              <li class="small">Stainless steel fittings with Pittsburgh lockseam construction are also available in 20 gauge.</li>
              <li class="small">SilverGuard™ rectangular, single-wall duct and fittings (pre-coated with an antimicrobial) are available on
                special order.</li>
            </ol>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Acousti-Line™ Insulating Liner">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Acousti-Line™ Insulating Liner</h4><br />
        <div class="card-text">
          <b>Single-Wall, Rectangular Ductwork with Acousti-Line™ Insulating Liner</b><br />
          <p>Single-wall, rectangular ductwork is available with an Acousti-Line insulating liner coated to protect against
            erosion and microbial growth. This acoustical/ thermal liner can be used with air velocities up to 5,000 fpm
            and temperatures up to 250°F. It is available in thicknesses of 1, 1 1/2, and 2 inches and has a maximum thermal
            conductivity (k) factor of 0.27 Btu/hour/square foot/°F/inch thickness. Formulated with an antimicrobial agent
            that is EPA registered, the liner's acrylic coating resists the growth of fungus and bacteria (tested in accordance
            with ASTM C 1071 and ASTM G21 and G22). The liner's surface can be cleaned according to procedures detailed in
            the North American Insulation Manufacturers Association (NAIMA) Duct Cleaning Guide.</p>
        </div>
        <div class="media">
          <div class="media-left">
            <img src="assets/img/swrectduct/sw_rectlined.jpg">
          </div>
          <div class="media-body">
          </div>
        </div>
        <div class="card-text">
          <hr>
          <b>Assembly Options</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                <tr>
                  <td>Construction</td>
                  <td>Size Limitations<sup>1</sup></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fully Assembled</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>L-Shaped</td>
                  <td>20 inches ≤ W + H ≤ 120 inches</td>
                </tr>
                <tr>
                  <td>Wrap Around</td>
                  <td>W + H
                    < 20 inches</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">W = Width (inches); H = Depth (inches)</td>
                </tr>
              </tfoot>
            </table>
          </div><br />
          <div class="col-xs-12">
            <p class="small">
              <u>Notes</u>
            </p>
            <ol>
              <li>Contact your local sales representative for other available sizes.</li>
            </ol>
          </div>
        </div>
        <div class="card-text">
          <hr>
          <b>ASTM Material Specifications</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                <tr>
                  <td>Standard Material<sup>1</sup></td>
                  <td>Type</td>
                  <td>ASTM Number</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Galvanized Steel</td>
                  <td>-</td>
                  <td>A653, A924</td>
                </tr>
                <tr>
                  <td>Stainless Steel</td>
                  <td>304, 304L, 316, 316L</td>
                  <td>A167, A480</td>
                </tr>
                <tr>
                  <td rowspan="2">Nongalvanized Carbon Steel</td>
                  <td>20-28 gauge</td>
                  <td>A366, A568, A569</td>
                </tr>
                <tr>
                  <td>10-18 gauge</td>
                  <td>A619</td>
                </tr>
                <tr>
                  <td>Aluminum</td>
                  <td>3003-H14</td>
                  <td>B209</td>
                </tr>
                <tr>
                  <td>Aluminized</td>
                  <td>1</td>
                  <td>A463</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">Other types of material are available.</td>
                </tr>
              </tfoot>
            </table>
          </div><br />
          <div class="col-xs-12">
            <p class="small">
              <u>Notes</u>
            </p>
            <ol>
              <li>SilverGuard™ rectangular, single-wall duct and fittings (pre-coated with an antimicrobial) are available on
                special order.</li>
            </ol>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Available Connectors">
      <div class="card card-block card-outline-primary ">
        <div class="card-text">
          <table cellpadding=5>
            <thead>
              <tr>
                <td>End Connectors</td>
                <td>5-foot Duct Length</td>
                <td>6-Foot Duct Length</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Raw End</td>
                <td>60 inches</td>
                <td>72 inches</td>
              </tr>
              <tr>
                <td>S and Drive Slips</td>
                <td>59 inches</td>
                <td>71 inches</td>
              </tr>
              <tr>
                <td>TDC</td>
                <td>56 1/4 inches</td>
                <td>68 1/4 inches</td>
              </tr>
              <tr>
                <td>Applied Connectors</td>
                <td>60 1/4 inches</td>
                <td>72 1/4 inches</td>
              </tr>
            </tbody>
          </table><br />
        </div>
        <div class="col-xs-12 card-text">
          <b>End Connector Details</b><br />
          <div class="center-block">
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/t1-driveslip.jpg">
                  <figcaption>
                      <strong>Drive Slip</strong><br />
                      Galvanized Steel: 20 gauge maximum<br />
                      Stainless Steel: 24 gauge maximum<br />
                      Aluminum: 0.050-inch maximum
                  </figcaption>
              </figure>
          </div>
          <div>
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/t6-hemmeds_slip.jpg">
                  <figcaption>
                      <strong>T-6 Hemmed S Slip</strong><br />
                      Galvanized Steel: 20 gauge maximum<br />
                      Stainless Steel: 24 gauge maximum<br />
                      Aluminum: 0.050-inch maximum
                  </figcaption>
              </figure>
          </div>
          <div>
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/t11standings_slip.jpg">
                  <figcaption>
                      <strong>T-1 Standing S Slip</strong><br />
                      Galvanized Steel: 20 gauge maximum<br />
                      Stainless Steel: 24 gauge maximum<br />
                      Aluminum: 0.050-inch maximum
                  </figcaption>
              </figure>
          </div>
          <div>
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/ductcleat.jpg">
                  <figcaption><strong>Applied Duct Connector/Cleat</strong></figcaption>
              </figure>
          </div>
          <div>
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/lockformercleat.jpg">
                  <figcaption><strong>Lockformer TDC Duct Connector/Cleat</strong></figcaption>
              </figure>
          </div>
          <div>
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/4boltconnector.jpg">
                  <figcaption><strong>Four-Bolt Corner Connector</strong></figcaption>
              </figure>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Automated Production">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Automated Production with the Latest Manufacturing Technology</h4><br />
        <div class="card-text">
          <p>McGill AirFlow fabricates rectangular duct on automated coil lines to produce large orders quickly and economically. That benefits you by providing products with dependable quality at a low cost. With our large-scale manufacturing capabiities, we can help you on major projects and make sure that small orders are delivered quickly. Our ability to produce round, flat oval, and rectangular products enables us to supply all the sheet metal ductwork that you need for your projects.</p>
        </div>
        <div class="col-xs-12 card-text">
          <div class="center-block">
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/coilline.jpg">
                  <figcaption>
                      Automated coil lines enable economic production of rectangular duct.
                  </figcaption>
              </figure>
          </div><br />
          <div class="center-block">
              <figure class="mcgill-picture">
                  <img src="assets/img/swrectduct/staging.jpg">
                  <figcaption>
                      Our regional manufacturing plants can supply large orders of rectangular duct and fittings quickly.
                  </figcaption>
              </figure>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>