<div class="animated fadeIn">
  <div class="card card-block card-outline-primary ">
		<h4 class="card-title">Customers</h4>
		<p class="card-text">United McGill, through its five operating subsidiaries, provides products and services to customers in a wide range of industries.</p>
    <hr>
  		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Aerospace</b>
          <ul>
            <li>Boeing</li>
            <li>Lockheed Martin</li>
            <li>McDonnell Douglas</li>
            <li>NASA</li>
            <li>Sikorsky</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Automotive</b>
          <ul>
            <li>Caterpillar</li>
            <li>Ford</li>
            <li>General Motors</li>
            <li>B.F. Goodrich</li>
            <li>Goodyear</li>
            <li>Hitachi</li>
            <li>Yamaha</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Chemical and Pharmaceutical</b>
          <ul>
            <li>Abbott Laboratories</li>
            <li>Bristol-Myers Squibb</li>
            <li>DuPont</li>
            <li>Eli Lilly</li>
            <li>Mallinckrodt</li>
            <li>Merck</li>
            <li>Monsanto</li>
            <li>Occidental</li>
            <li>Pfizer</li>
            <li>Procter & Gamble</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Construction</b>
          <ul>
            <li>Several thousand sheet metal and mechanical contractors</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Electrical and Electronic</b>
          <ul>
            <li>GTE</li>
            <li>Microchip Technologies</li>
            <li>Philips</li>
            <li>Thomson Consumer</li>
            <li>Electronics</li>
            <li>Westinghouse</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Glass</b>
          <ul>
            <li>Anchor Hocking</li>
            <li>CertainTeed</li>
            <li>Corning</li>
            <li>General Electric</li>
            <li>Guardian</li>
            <li>Johns-Manville</li>
            <li>Owens Brockway</li>
            <li>Owens Corning</li>
            <li>PPG Industries</li>
            <li>St. Gobain</li>
          </ul>
				</div>
			</div>
   		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Pulp, Paper, and Wood Products</b>
          <ul>
            <li>Champion</li>
            <li>Georgia-Pacific</li>
            <li>International Paper</li>
            <li>Louisiana Pacific</li>
            <li>MacMillan Bloedel</li>
            <li>Mead</li>
            <li>S.D. Warren</li>
            <li>Temple Inland</li>
            <li>Union Camp</li>
            <li>Weyerhaeuser</li>
            <li>Willamette</li>
          </ul>
				</div>
			</div>

  </div>
</div>