<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Gasket® Self-Sealing Fittings Reduce Assembly Time and Costs</h4><br />
                <div class="card-text">
                    <p>Uni-Gasket fittings will save you money because they reduce assembly time about 30 to 40 percent by eliminating joint sealing (assembly time excludes the time to hang duct). They feature a single-leg EPDM rubber gasket, held in place with a 180° hemmed edge, that provides a reliable, airtight seal.</p>
                </div>

                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/unigasket/ug_construct.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>Testing has shown that this design meets or exceeds SMACNA's Class 3 for leakage (-20 inches wg to +20 inches wg). Fittings are secured to the duct with self-tapping screws uniformly located around the circumference as per SMACNA standards.</p>
                </div>
            </div>
        </tab>
        <tab heading="Availability and Construction">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Availability and Construction</h4><br />
                <div class="card-text">
                    <h6><p class="mcgill-gold">Now available with the SilverGuard™ coating!</p></h6>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/silver/sg_crosssection.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>Uni-Gasket round fittings are available in single-wall and double-wall constructions in all of McGill's fitting types. Single-wall fitting are offered in 3- through 24-inch diameters. Double-wall fittings, depending on the insulation thickness that is specified, are available in 3- through 22-, 20-, or 18-inch diameters.</p>
                    <p>Uni-Gasket fittings are fabricated from galvanized steel constructed in accordance with ASTM A653 and A924 specifications and meet SMACNA's +10-inch wg positive pressure standard.</p>
                    <p>Uni-Gasket double-wall fittings are constructed with an inner liner surrounded by a layer of fiberglass insulation and covered by a solid metal outer pressure shell. Standard inner liners are 26 gauge and outer shells are 26, 24, or 22 gauge depending on diameter. The insulation is available in 1-, 2-, and 3-inch standard thicknesses from a standard density of 1.0 pcf (pounds per cubic foot) to a maximum of 1.5 pcf.</p>
                    <p>Uni-Gasket double-wall fittings are compatible and available with McGill AirFlow's entire line of round, double-wall duct types in 1-inch increments for 5- through 10-inch outer shell diameters and in 2-inch increments in 12- through 24-inch outer shell diameters.</p>
                    <p>Complete specifications are available in McGill's Uni-Gasket single-wall and double-wall fittings dimension booklets. For more information about Uni-Gasket fittings, please contact the McGill AirFlow sales representative in your area.</p>
                </div>
            </div>
        </tab>
        <tab heading="Standard Sizes and Gauges">
            <div class="card card-block card-outline-primary ">
              <h4 class="card-title card-accent-primary">Standard Uni-Gasket® Fittings — sizes and gauges</h4><br />
                <div class="card-text">
                    <table cellpadding=5>
                      <thead>
                          <tr>
                              <td colspan="2">Uni-Gasket Single-Wall, Round Fittings</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Construction</td>
                              <td>Spot or tack welded and sealed<br />Lap and riveted/screwed and sealed<br />Solid welded<br />Standing seam and lap resistance welded</td>
                          </tr>
                          <tr>
                              <td>Diameters<sup>1</sup></td>
                              <td>3-24 inches</td>
                          </tr>
                          <tr>
                              <td>Materials<sup>3,4</sup></td>
                              <td>Galvanized Steel</td>
                          </tr>
                          <tr>
                              <td>Thicknesses<sup>2</sup></td>
                              <td>26-22 gauge</td>
                          </tr>
                      </tbody>
                    </table><br />
                </div>
                <div class=" small col-xs-12">
                    <p class="small">
                        <u>Notes</u>
                    </p>
                    <ol>
                      <li>Uni-Gasket single-wall, round fittings are available with the following diameters: 3- through 12-inch diameters in 1-inch-diameter increments, and 14- through 24-inch diameters in 2-inch-diameter increments.</li>
                      <li>Uni-Gasket single-wall, round fittings constructed with 20 gauge galvanized steel are available on special order.</li>
                      <li>Uni-Gasket single-wall, round fittings are also available in carbon steel, paintable galvanized steel, and types 304 and 316 stainless steel on special order.</li>
                      <li>Uni-Gasket single-wall, round fittings with SilverGuard™ coating (pre-coated with an EPA registered antimicrobial) are available on special order.</li>
                    </ol>
                </div><br />
                <div class="card-text">
                    <table cellpadding=5>
                      <thead>
                          <tr>
                              <td colspan="2">Uni-Gasket Double-Wall, Round Fittings</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Construction</td>
                              <td>Spot or tack welded and sealed<br />Lap and riveted/screwed and sealed<br />Solid welded<br />Standing seam and lap resistance welded</td>
                          </tr>
                          <tr>
                              <td>Insulation Thickness<sup>1</sup><br />1 inch<br />2 inches<br />3 inches</td>
                              <td>Inner Liner Diameters<sup>2</sup><br />3-22 inches<br />3-20 inches<br />3-18 inches</td>
                          </tr>
                          <tr>
                              <td>Materials<sup>5,6</sup></td>
                              <td>Galvanized Steel</td>
                          </tr>
                          <tr>
                              <td>Thicknesses<sup>3,4</sup></td>
                              <td>26-22 gauge</td>
                          </tr>
                      </tbody>
                    </table><br />
                </div>
                <div class=" small col-xs-12">
                    <p class="small">
                        <u>Notes</u>
                    </p>
                    <ol>
                      <li>Standard insulation density is 1.0 pcf.</li>
                      <li>Uni-Gasket double-wall, round duct and fittings are available with the following outer shell dimensions: 5- through 12-inch diameters in 1-inch-diameter increments and 14- through 24-inch diameters in 2-inch-diameter increments. Standard fitting liners are solid metal. Standard insulation is fiberglass.</li>
                      <li>Inner liners for Uni-Gasket double-wall, round fittings are 26 gauge.</li>
                      <li>Uni-Gasket double-wall, round fittings constructed with 20 gauge galvanized steel outer shells are available on special order.</li>
                      <li>Uni-Gasket double-wall, round fittings are also available in carbon steel, paintable galvanized steel, and types 304 and 316 stainless steel on special order.</li>
                      <li>Uni-Gasket double-wall, round fittings with SilverGuard™ coating (pre-coated with an EPA registered antimicrobial) are available on special order.</li>
                    </ol>
                </div>
            </div>
        </tab>
    </tabset>
</div>