<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Mobile Testing</h4><br />
        <div class="card-text">
            <p>McGill AirClean has the unique capability of offering a truly mobile spray-dry scrubber/electrostatic precipitator combination or a mobile regenerative thermal oxidizer that can be applied to your process. Mobile testing determines the collectibility of pollutants and provides sizing and performance information for the full-scale system. McGill AirClean mobile equipment can also be used to evaluate existing pollution control equipment.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-5 card-text py-1">
                <h6>Mobile ESP Testing</h6>
                <p>Our mobile ESP can be used to study your emission problem on site and develop an effective solution. This equipment enables us to analyze your flue gas stream, determine ESP collection efficiencies, and collect data to size a full-scale wet or dry ESP system for your application.</p>
                <p></p>
                <a href="assets/literature/mobile-esp.pdf" target="_blank">Mobile ESP Testing Brochure.pdf</a>
            </div>
            <div class="col-xs-12 col-md-7 embed-responsive embed-responsive-21by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-4by3"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mobile/esp.jpg">
                </figure>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-5 card-text py-1">
                <h6>Mobile RTO Testing</h6>
                <p>We can use one of our mobile RTOs to test emissions at your facility and demonstrate the effectiveness of our ThermaGrid™ technology. Those tests will allow us to gather the data needed to size a full-scale RTO to solve your VOC problem economically.</p>
                <p></p>
                <a href="assets/literature/mobile-rto.pdf" target="_blank">Mobile RTO Brochure.pdf</a>
            </div>
            <div class="col-xs-12 col-md-7 embed-responsive embed-responsive-21by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-4by3"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mobile/rto.jpg">
                </figure>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-5 card-text py-1">
                <h6>Mobile Scrubber Testing</h6>
                <p>We can test emissions on site and engineer an acid gas control system for your application. By using our mobile spray-dry scrubber in conjunction with our mobile ESP, we can demonstrate the effectiveness of a full-scale air pollution control system</p>
            </div>
            <div class="col-xs-12 col-md-7 embed-responsive embed-responsive-4by3">
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/mobile/scrubber.jpg">
                </figure>
            </div>
        </div>       
    </div>
</div>