<div class="animated fadeIn">
    <tabset>
        <tab heading="Single-Wall, Round Duct">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Single-Wall, Round Duct</h4><br />
                <div class="card-text">
                    <b>Single-Wall, Round and Flat Oval Duct and Fittings</b><br />
                    <p>McGill AirFlow's single-wall, round duct is fabricated to exacting tolerances that make it easy to assemble
                        and essentially leak free. Round duct costs less to install than rectangular duct and because of
                        its efficiency, a round duct system offers lower operating costs. Three standard types of single-wall,
                        round duct are available: spiral lockseam, spiral lockseam with a standing rib, and longitudinal
                        seam.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/swroduct/construction.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
                <div class="card-text">
                    <br />
                    <b>Uni-Seal™ Duct</b>
                    <p>Spiral lockseam duct is available with a standing rib. This external stiffening rib gives the duct strength
                        and rigidity equal to that of heavier gauges of standard spiral lockseam duct.</p>
                </div>
                <div class="card-text">
                    <br />
                    <b>Longitudinal Seam Duct (fully welded or pipelock)</b>
                    <p>Longitudinal seam duct is available for applications that require very heavy gauges or large diameters.
                        The longitudinal seam of the duct is solid welded. Construction meets or exceeds HVAC Construction
                        Standards, 1995 Sheet Metal and Air Conditioning Contractors National Association (SMACNA).<br />A
                        pipelock construction is used for some lighter gauge duct (residential and light commercial) and
                        some PVC-coated metal duct.</p>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Round Duct Available Sizes, Materials, and Thicknesses)</b>
                    <p>Longitudinal seam duct is available for applications that require very heavy gauges or large diameters.
                        The longitudinal seam of the duct is solid welded. Construction meets or exceeds HVAC Construction
                        Standards, 1995 Sheet Metal and Air Conditioning Contractors National Association (SMACNA).<br />A
                        pipelock construction is used for some lighter gauge duct (residential and light commercial) and
                        some PVC-coated metal duct.</p>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="4">
                                        <h6 id="test">Uni-Seal™ Duct<br />(spiral lockseam)</h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Diameters<sup>1</sup></td>
                                    <td>Lengths<sup>2</sup></td>
                                    <td>Materials<sup>3,6</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">3-84 inches</td>
                                    <td rowspan="2">1-20 feet</td>
                                    <td>Galvanized Steel</td>
                                    <td>28-14 gauge</td>
                                </tr>
                                <tr>
                                    <td>Stainless Steel</td>
                                    <td>26-20 gauge</td>
                                </tr>
                                <tr>
                                    <td>3-60 inches<sup>4</sup></td>
                                    <td>1-20 feet</td>
                                    <td>Aluminum</td>
                                    <td>0.025-0.063 inch</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><br />
                    <div class="">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="4">
                                        <h6>Uni-Rib®<br />(spiral lockseam with standing rib)</h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Diameters<sup>1</sup></td>
                                    <td>Lengths<sup>2</sup></td>
                                    <td>Materials<sup>3,6</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">9-60 inches</td>
                                    <td rowspan="2">1-20 feet</td>
                                    <td>Galvanized Steel</td>
                                    <td>28-22 gauge</td>
                                </tr>
                                <tr>
                                    <td>Aluminum</td>
                                    <td>0.025-0.050 inch</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><br />
                    <div class="">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="4">
                                        <h6>Longitudinal Seam Duct<br />(solid welded)</h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Diameters<sup>1</sup></td>
                                    <td>Lengths<sup>2</sup></td>
                                    <td>Materials<sup>3,6</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">8-90 inches<sup>5</sup></td>
                                    <td rowspan="3">1-6 feet</td>
                                    <td>Galvanized Steel</td>
                                    <td>20-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>Stainless Steel</td>
                                    <td>22-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>8-60 inches</td>
                                    <td>Aluminum</td>
                                    <td>0.040-0.090 inch</td>
                                </tr>
                            </tbody>
                        </table><br />
                    </div>
                    <div class="col-xs-12">
                        <p class="small">
                            <u>Notes</u>
                        </p>
                        <ol>
                            <li class="small">McGill AirFlow's single-wall, round duct is available with the following diameters: 3-inch through
                                15-inch diameters in 1/2-inch-diameter increments, 16-inch through 38-inch diameters in 1-inch-diameter
                                increments, and 40-inch through 90-inch diameters in 2-inch-diameter increments.</li>
                            <li class="small">Standard lengths of round Uni-Seal and Uni-Rib duct are 10, 12, and 20 feet; longer lengths are
                                available. Standard lengths of round longitudinal seam duct are 5 and 6 feet.</li>
                            <li class="small">Single-wall, round duct is also available in nongalvanized carbon steel and paintable galvanized
                                steel. Stainless steel is generally type 304 or 316. Aluminum is generally type 3003-H14.
                                Uni-Coat single-wall, round duct (polyvinyl-chloride-coated galvanized steel) is available
                                on special order.</li>
                            <li class="small">Aluminum single-wall, round duct is available in diameters greater than 60 inches on special
                                order.</li>
                            <li class="small">Single-wall, round longitudinal seam duct is available in diameters smaller than 8 inches on
                                special order.</li>
                            <li class="small">SilverGuard™ single-wall, round duct (pre-coated with an antimicrobial) is available on special
                                order.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Single-Wall, Round Lined Duct">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Single-Wall, Round Lined Duct</h4><br />
                <div class="card-text">
                    <b>Single-Wall, Round Duct with Acousti-Line™ Insulating Liner</b><br />
                    <p>Single-wall ductwork is available with an Acousti-Line insulating liner coated to protect against erosion
                        and microbial growth. This acoustical/thermal liner can be used with air velocities up to 5,000 fpm
                        and temperatures up to 250°F. It is available in thicknesses of 1 and 1 1/2 inches and has a maximum
                        thermal conductivity (k) factor of 0.24 Btu/hour/square foot/°F/inch thickness. Formulated with an
                        antimicrobial agent that is EPA registered, the liner's acrylic coating resists the growth of fungus
                        and bacteria (tested in accordance with ASTM C 1071 and ASTM G21 and G22). The liner's surface can
                        be cleaned according to procedures detailed in the North American Insulation Manufacturers Association
                        (NAIMA) Duct Cleaning Guide.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/swroduct/swduct_lrg.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Single-Wall, Round Fittings">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Single-Wall, Round Fittings</h4><br />
                <div class="card-text">
                    <b>Single-Wall, Round Fittings</b><br />
                    <p>A complete line of fittings designed for low leakage and efficient performance is available for use with
                        McGill AirFlow's single-wall, round duct. Each fitting is sized accurately to allow easy field assembly.
                        Fittings are available in gasketed and non-gasketed profiles in solid welded, spot or tack welded
                        and sealed, lap and riveted (or screwed) and sealed, and Uni-Seam™ standing seam constructions. Single-wall,
                        round fittings can be supplied with an Acousti-Line™ insulating liner to match our single-wall, round
                        lined duct.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/swroduct/swfit_lrg.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Round Fittings Available Sizes, Materials, and Thicknesses</b>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="3">
                                        <h6>Uni-Seal™ Fittings<sup>4</sup></h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Diameters<sup>1</sup></td>
                                    <td>Materials<sup>2,5</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">3-90 inches</td>
                                    <td>Galvanized Steel</td>
                                    <td>26-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>Stainless Steel</td>
                                    <td>26-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>3-60 inches<sup>3</sup></td>
                                    <td>Aluminum</td>
                                    <td>0.032-0.090 inch</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">spot or tack welded and sealed, lap and riveted/screwed and sealed, solid welded, or
                                        standing seam</td>
                                </tr>
                            </tfoot>
                        </table><br />
                        <div>
                            <table cellpadding=5>
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <h6>Uni-Gasket® Fittings</h6>
                                        </td>
                                    </tr>
                                    <tr class="mcgill-mediumblue">
                                        <td>Diameters<sup>1</sup></td>
                                        <td>Materials<sup>2,5</sup></td>
                                        <td>Thicknesses</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>3-24 inches<sup>6</sup></td>
                                        <td>Galvanized Steel</td>
                                        <td>26-22 gauge</td>
                                    </tr>
                                </tbody>
                            </table><br />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="small">
                            <u>Notes</u>
                        </p>
                        <ol>
                            <li class="small">Except as noted, McGill AirFlow's single-wall, round fittings are available with the following
                                diameters: 3-inch through 15-inch diameters in 1/2-inch-diameter increments, 16-inch through
                                38-inch diameters in 1-inch-diameter increments, and 40-inch through 90-inch diameters in
                                2-inch-diameter increments.</li>
                            <li class="small">Single-wall, round fittings are also available in nongalvanized carbon steel and paintable galvanized
                                steel. Stainless steel is generally type 304 or 316. Aluminum is generally type 3003-H14.
                                Uni-Coat® single-wall, round fittings (polyvinyl-chloride-coated galvanized steel) are available
                                on special order.</li>
                            <li class="small">Aluminum single-wall, round fittings are available in diameters greater than 60 inches on special
                                order.</li>
                            <li class="small">Fittings that are 16 gauge (Aluminum-0.090 inch) or heavier are fully welded.</li>
                            <li class="small">SilverGuard™ single-wall, round fittings (pre-coated with an antimicrobial) are available on
                                special order.</li>
                            <li class="small">Except as noted, McGill AirFlow's single-wall, round Uni-Gasket fittings are available with the
                                following diameters: 3-inch through 12-inch diameters in 1-inch-diameter increments, and
                                14-inch through 24-inch diameters in 2-inch-diameter increments.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Single-Wall, Flat Oval Duct">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Single-Wall, Flat Oval Duct</h4><br />
                <div class="card-text">
                    <b>Single-Wall, Flat Oval Duct</b><br />
                    <p>For applications in which space restrictions prohibit the use of round duct, McGill AirFlow offers flat
                        oval duct in spiral lockseam and longitudinal seam constructions. Flat oval duct provides a more
                        efficient alternative to rectangular duct in these applications. McGill AirFlow manufactures flat
                        oval duct with the same techniques used to make round duct. As a result, flat oval duct shares many
                        of the performance characteristics of round duct. Compared with rectangular duct, it provides lower
                        installation costs and, because of reduced leakage and pressure loss, lower operating costs.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/swroduct/swfo_duct.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
                <div class="card-text">
                    <p>Spiral lockseam duct is constructed with an interlocking helical seam that runs the length of the duct.
                        As with round spiral lockseam duct, the flat oval type combines efficient performance with a structural
                        strength equal to that of heavier gauges of other types of duct.</p>
                    <p>Flat oval duct is available with a longitudinal seam construction for applications that require very
                        heavy gauges or large sizes. The duct's longitudinal seam is solid welded.</p>
                    <p>A pipelock construction is used for some lighter gauge duct (residential and light commercial) and some
                        PVC-coated metal duct.</p>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Flat Oval Duct Available Sizes, Materials, and Thicknesses</b>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="3">
                                        <h6>Uni-Seal™ Duct (spiral lockseam)</h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Lengths<sup>1</sup></td>
                                    <td>Materials<sup>2,3</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">1-12 feet</td>
                                    <td>Galvanized Steel</td>
                                    <td>28-18 gauge</td>
                                </tr>
                                <tr>
                                    <td>Stainless Steel</td>
                                    <td>>26-20 gauge</td>
                                </tr>
                                <tr>
                                    <td>Aluminum</td>
                                    <td>0.025-0.063 inch</td>
                                </tr>
                            </tbody>
                        </table><br />
                        <div>
                            <table cellpadding=5>
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <h6>Longitudinal Seam Duct (solid welded)</h6>
                                        </td>
                                    </tr>
                                    <tr class="mcgill-mediumblue">
                                        <td>Lengths<sup>1</sup></td>
                                        <td>Materials<sup>2,3</sup></td>
                                        <td>Thicknesses</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="3">1-6 feet</td>
                                        <td>Galvanized Steel</td>
                                        <td>20-10 gauge</td>
                                    </tr>
                                    <tr>
                                        <td>Stainless Steel</td>
                                        <td>22-10 gauge</td>
                                    </tr>
                                    <tr>
                                        <td>Aluminum</td>
                                        <td>0.040-0.090 inch</td>
                                    </tr>
                                </tbody>
                            </table><br />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="small">
                            <u>Notes</u>
                        </p>
                        <ol>
                            <li class="small">Some standard sizes of flat oval Uni-Seal duct are available only to lengths of 6 feet; longer
                                lengths are available on special order. Standard lengths of flat oval longitudinal seam duct
                                are 5 and 6 feet.</li>
                            <li class="small">Single-wall, flat oval duct is also available in nongalvanized carbon steel and paintable galvanized
                                steel. Stainless steel is generally type 304 or 316. Aluminum is generally type 3003-H14.
                                Uni-Coat® single-wall, flat oval duct (polyvinyl-chloride-coated galvanized steel) is available
                                on special order.</li>
                            <li class="small">SilverGuard™ single-wall, flat oval duct (pre-coated with an antimicrobial) is available on special
                                order.</li>
                        </ol>
                    </div>
                </div>

                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Flat Oval Duct Available Size Ranges</b>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td rowspan="4">Minor Axis (inches)</td>
                                    <td colspan="3">Major Axis (inches)</td>
                                </tr>
                                <tr rowspan="3">
                                    <td>Minimum</td>
                                    <td>Maximum Spiral Lockseam</td>
                                    <td>Maximum Longitudinal Seam or Fitting Size</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td>8</td>
                                    <td>22</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>7</td>
                                    <td>21</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>8</td>
                                    <td>21</td>
                                    <td>46</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>8</td>
                                    <td>59</td>
                                    <td>59</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>10</td>
                                    <td>21</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>10</td>
                                    <td>77</td>
                                    <td>77</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>12</td>
                                    <td>23</td>
                                    <td>89</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>12</td>
                                    <td>79</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>14</td>
                                    <td>25</td>
                                    <td>109</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>14</td>
                                    <td>81</td>
                                    <td>119</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>20</td>
                                    <td>80</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>22</td>
                                    <td>79</td>
                                    <td>143</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>23</td>
                                    <td>81</td>
                                    <td>134</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>26</td>
                                    <td>80</td>
                                    <td>140</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>35</td>
                                    <td>82</td>
                                    <td>134</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>37</td>
                                    <td>81</td>
                                    <td>141</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>29</td>
                                    <td>not available</td>
                                    <td>137</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>31</td>
                                    <td>not available</td>
                                    <td>144</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>43</td>
                                    <td>84</td>
                                    <td>141</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>35</td>
                                    <td>not available</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>37</td>
                                    <td>not available</td>
                                    <td>138</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>39</td>
                                    <td>not available</td>
                                    <td>136</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>41</td>
                                    <td>not available</td>
                                    <td>136</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>43</td>
                                    <td>not available</td>
                                    <td>143</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Single-Wall, Flat Oval Fittings">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Single-Wall, Flat Oval Fittings</h4><br />
                <div class="card-text">
                    <b>Single-Wall, Flat Oval Fittings</b><br />
                    <p>A complete line of fittings designed for low leakage and efficient performance is available for use with
                        McGill AirFlow's single-wall, flat oval duct. Each fitting is sized accurately to allow easy field
                        assembly. Fittings are available in solid welded, spot or tack welded and sealed, lap and riveted
                        (or screwed) and sealed, and standing seam constructions.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/swroduct/swfo_fittings.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Flat Oval Fittings Available Materials, and Thicknesses</b>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <h6>Uni-Seal™ Fittings<sup>2</sup></h6>
                                    </td>
                                </tr>
                                <tr class="mcgill-mediumblue">
                                    <td>Materials<sup>1,3</sup></td>
                                    <td>Thicknesses</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Galvanized Steel</td>
                                    <td>26-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>Stainless Steel</td>
                                    <td>26-10 gauge</td>
                                </tr>
                                <tr>
                                    <td>Aluminum</td>
                                    <td>0.032-0.090 inch</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        spot or tack welded and sealed, lap and riveted/screwed and sealed, solid welded, or standing seam
                                    </td>
                                </tr>
                            </tfoot>
                        </table><br />
                    </div>
                    <div class="col-xs-12">
                        <p class="small">
                            <u>Notes</u>
                        </p>
                        <ol>
                            <li class="small text-left">Single-wall, flat oval fittings are also available in nongalvanized carbon steel and paintable
                                galvanized steel. Stainless steel is generally type 304 or 316. Aluminum is generally type
                                3003-H14. Uni-Coat® single-wall, flat oval fittings (polyvinyl-chloride-coated galvanized
                                steel) are available on special order.</li>
                            <li class="small text-left">Fittings that are 16 gauge (Aluminum-0.090 inch) or heavier are fully welded.</li>
                            <li class="small text-left">SilverGuard™ single-wall, flat oval fittings (pre-coated with an antimicrobial) are available
                                on special order.</li>
                        </ol>
                    </div>
                </div>

                <div class="card-text">
                    <hr>
                    <b>Single-Wall, Flat Oval Fittings Available Materials, and Thicknesses</b>
                    <div class="card-text">
                        <table cellpadding=5>
                            <thead>
                                <tr>
                                    <td rowspan="4">Minor Axis (inches)</td>
                                    <td colspan="3">Major Axis (inches)</td>
                                </tr>
                                <tr rowspan="3">
                                    <td>Minimum</td>
                                    <td>Maximum Spiral Lockseam</td>
                                    <td>Maximum Longitudinal Seam or Fitting Size</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td>8</td>
                                    <td>22</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>7</td>
                                    <td>21</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>8</td>
                                    <td>21</td>
                                    <td>46</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>8</td>
                                    <td>59</td>
                                    <td>59</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>10</td>
                                    <td>21</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>10</td>
                                    <td>77</td>
                                    <td>77</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>12</td>
                                    <td>23</td>
                                    <td>89</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>12</td>
                                    <td>79</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>14</td>
                                    <td>25</td>
                                    <td>109</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>14</td>
                                    <td>81</td>
                                    <td>119</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>20</td>
                                    <td>80</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>22</td>
                                    <td>79</td>
                                    <td>143</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>23</td>
                                    <td>81</td>
                                    <td>134</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>26</td>
                                    <td>80</td>
                                    <td>140</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>35</td>
                                    <td>82</td>
                                    <td>134</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>37</td>
                                    <td>81</td>
                                    <td>141</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>29</td>
                                    <td>not available</td>
                                    <td>137</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>31</td>
                                    <td>not available</td>
                                    <td>144</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>43</td>
                                    <td>84</td>
                                    <td>141</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>35</td>
                                    <td>not available</td>
                                    <td>139</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>37</td>
                                    <td>not available</td>
                                    <td>138</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>39</td>
                                    <td>not available</td>
                                    <td>136</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>41</td>
                                    <td>not available</td>
                                    <td>136</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>43</td>
                                    <td>not available</td>
                                    <td>143</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>