<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Auxiliary Equipment: Control Systems, Evaporative Coolers, Recycling Systems, Breeching, and Stacks</h4><br />
        <div class="card-text">
            <p>We supply complete air pollution control systems to solve a combination of particulate, acid gas, and VOC problems. We have extensive engineering and manufacturing capabilities and provide all the necessary auxiliary equipment for those systems.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-7 embed-responsive embed-responsive-4by3">
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/auxequip/stacks.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-5 card-text py-1">
                <h6>Auxiliary equipment</h6>
                <ul>
                  <li>Evaporative coolers</li>
                  <li>Recycling systems</li>
                  <li>Disposal systems</li>
                  <li>Ductwork</li>
                  <li>Breeching</li>
                  <li>Stacks</li>
                  <li>Support structures</li>
                  <li>Platforms and stairways</li>
                </ul>            
                <hr>
                <h6>Control systems</h6>
                <p>We offer a selection of control systems to meet your operational requirements. Options range from basic controls to our powerful PC control system, which combines a programmable logic controller (PLC) and personal computer (PC). It provides simplified control, programming flexibility, and extensive data acquisition capabilities and remote modern control.</p>
            </div>
        </div>
    </div>
</div>