<div class="animated fadeIn">
    <tabset>
        <tab heading="Duct System Design Service">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Duct® Duct System Design Service</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow can save you money with our Uni-Duct duct system design service. We use our state-of-the-art Uni-Duct software to perform time-consuming design work for you. It designs duct systems that have the lowest possible material and operating costs. Uni-Duct provides the most efficiently balanced and sized duct system designs available.</p>
                    <p>The Uni-Duct design service is available free to qualified customers. We can work with you from the start of your project, designing duct systems from an engineer's drawings or architect's layouts. If a finished design already exists, we can analyze the system to find ways to improve efficiency and reduce costs. We also use Uni-Duct software to analyze existing systems in retrofit projects.</p>
                    <p>Contact a McGill AirFlow sales representative at a location near you for more information.</p>
                </div>
            </div>
        </tab>
        <tab heading="Supply Program">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Duct® Supply Program</h4><br />
                <div class="card-text">
                    <p>Uni-Duct software employs the static regain design method enhanced by the total pressure method to design efficient supply systems. It creates static regain designs, analyzes pressure requirements, and determines a system's design leg or critical path (path of maximum static pressure requirement). Since nondesign legs and branches have excess static pressure, they need to be balanced. Unless a system is balanced, air will not be distributed properly. Some outlets will receive too much air, while others will not receive enough.</p>
                    <p>Uni-Duct uses a complex iterative procedure to reduce duct and fitting sizes in the non-design legs so that the available total pressure balances the system. The program evaluates each fitting to determine whether it can be replaced with a less expensive fitting that will perform the same function. These new fittings will use additional available total pressure, further balancing the system. By reducing duct and fitting sizes to balance a system, Uni-Duct provides duct system designs with low material costs.</p>
                    <p>Uni-Duct also designs balanced duct systems for a preselected system target pressure. Once all data has been entered into the program, a duct system design is revised simply by changing the initial parameters. This makes it easy to redesign a duct system for the lowest operating costs over the system's lifetime.</p>
                </div>
            </div>
        </tab>
        <tab heading="Acoustical Analysis">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Acoustical Analysis</h4><br />
                <div class="card-text">
                    <p>A major benefit of Uni-Duct® is that it provides an eight-octave-band analysis of a duct system design. The program produces an acoustical report that tells you if the design meets your noise criteria (NC level) requirements or if it needs additional noise control. This acoustical analysis accounts for natural attenuation of duct and fittings, sound power splits, end reflection, insertion loss of insulated duct and fittings, and generated noise.</p>
                    <p>Uni-Duct allows entry of insertion loss and generated noise level data for silencers and fan sound power level data for any manufacturer's equipment used in the system.</p>
                </div>
            </div>
        </tab>
        <tab heading="Exhaust Program">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Duct® Exhaust Program</h4><br />
                <div class="card-text">
                    <p>Particulate or fume exhaust systems should be designed for specific minimum carrying velocities to prevent the material from settling and plugging the duct. With Uni-Duct, these velocities can be entered for each type of particulate or fume where it enters a system. Uni-Duct designs the system to maintain all specified carrying velocities. A section with more than one carrying velocity requirement is sized to maintain the highest velocity requirement.</p>
                    <p>After designing the system to meet carrying velocity requirements, Uni-Duct analyzes the pressure requirements and determines the design leg. Since non-design legs and branches have excess pressure, they need to be balanced. Like the Uni-Duct supply module, the exhaust program uses a complex iterative procedure to reduce duct and fitting sizes so that the available total pressure balances the system without increasing its design pressure. Optimizing a design in this way reduces duct and fitting costs considerably.</p>
                    <p>An exhaust system designed with Uni-Duct operates at the lowest pressure required to maintain the design carrying velocities. Initial costs are lower because smaller sizes of duct are used and blast gates, cutoffs, and dampers often are not required.</p>
                </div>
            </div>
        </tab>
        <tab heading="Program Features">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Duct® Program Features</h4><br />
                <div class="card-text">
                    <p>Key:<br />
                      <img src="assets/img/uniduct/s_letter.gif" /> - Supply Program Only<br />
                      <img src="assets/img/uniduct/e_letter.gif" /> - Exhaust Program Only</p>
                    <p>Optimized static regain design method that uses all available total pressure to balance the system and reduce duct cost (see McGill AirFlow's Engineering Report No. 144)<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>Unparalleled database that includes many types of fittings with performance data derived from actual laboratory testing</p>
                    <p>User-selected maximum and minimum velocities</p>
                    <p>Round or flat oval pre-sizing of any (or all) sections</p>
                    <p>Half-inch duct sizes through 15 inches</p>
                    <p>Round and/or flat oval designs</p>
                    <p>Automatically designs with flat oval whenever user-selected height restriction is exceeded</p>
                    <p>Fitting default selection (automatically uses less expensive fittings for better balancing where appropriate in nondesign legs)<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>Fitting selection override at any location in the system</p>
                    <p>Component pressure losses entered as either in-line losses or loss coefficients<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>Allows entry of outlet static pressure requirements<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>Entry losses entered as either total pressure losses or loss coefficients<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>User-selected diversity factors for any nonoutlet section<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>System can be designed to operate at a selected target pressure<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>Maintains minimum design carrying velocities<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>Corrects for non-standard elevation and temperature<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>An acoustical program that does the following:<img src="assets/img/uniduct/s_letter.gif" /></p>
                       <ol type="a">
                          <li>Accepts user-defined fan sound power levels or estimates the fan sound power levels by established practices</li>
                          <li>Accepts entry of additional attenuation and regenerated noise at any point in the system</li>
                          <li>Calculates all forms of attenuation and noise regeneration due to system components and airflow conditions</li>
                          <li>Calculates insertion loss of 1-, 2-, and 3-inch-thick lined duct and elbows</li>
                          <li>Determines path attenuation requirements for each terminal section based on user-selected NC levels</li>
                       </ol>
                    <p>Products match SMACNA high- and/or low-pressure gauge requirements<img src="assets/img/uniduct/s_letter.gif" /></p>
                    <p>Entry of duct material handling class<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>Automatic selection of duct gauge and reinforcement based on material handling class and duct pressure<img src="assets/img/uniduct/e_letter.gif" /></p>
                    <p>Input data listings</p>
                    <p>Sectional analysis report provides the following data for all sections:</p>
                       <ol type="a">
                          <li>Duct size</li>
                          <li>Volume flow</li>
                          <li>Velocity<img src="assets/img/uniduct/s_letter.gif" /></li>
                          <li>Static or total pressure drop (or regain) through the takeoff or branch fitting</li>
                          <li>Cumulative pressure drop through all duct fittings</li>
                          <li>Duct pressure drop</li>
                          <li>Component pressure drop<img src="assets/img/uniduct/s_letter.gif" /></li>
                          <li>Cumulative static or total pressure drop (or regain) for the section</li>
                          <li>Outlet or inlet pressure drop<img src="assets/img/uniduct/s_letter.gif" /></li>
                          <li>System static or total pressure at the entrance to each section</li>
                       </ol>
                       <p>System analysis report</p>
                       <p>Acoustical analysis report<img src="assets/img/uniduct/s_letter.gif" /></p>
                       <p>Report format for either static or total pressure (user selected)<img src="assets/img/uniduct/s_letter.gif" /></p>
                       <p>Separate report of excess pressure at all terminal or entry sections (provides an indication of balancing and locates the system design leg)</p>
                       <p>Average and highest excess pressure in system shown on balancing report</p>
                       <p>Complete bill of material</p>
                       <p>Complete project information</p>
                       <p>Report includes suggested specification</p>
                       <p>Unprecedented design guarantee</p>
                </div>
            </div>
        </tab>       
    </tabset>
</div>