<div class="animated fadeIn">
    <tabset>
        <tab heading="Solution Series">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/solutions1.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Duct system designers and sheet metal contractors strive to provide the best air handling systems that meet their customers' specifications. When faced with special requirements, they need a partner who does more than supply duct. They need an expert supplier who will work closely with them to make sure all requirements are met.</p>
                    <p>These Solutions Series success testimonials show how McGill AirFlow's products and expertise are providing duct systems solutions that meet the toughest challenges.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/solutions1.pdf" target="_blank">Solution #1 - Delta Airlines</a><br /> Tight installation and scheduling required teamwork and a well-planned strategy to successfully complete this large-diameter duct system for Delta Airlines' painting hangar.<br /><br />
                    <a href="assets/literature/solutions2.pdf" target="_blank">Solution #2 - Philadelphia Newspapers, Inc.</a><br /> McGill's solution provided highly-adjustable ventilation for Philadelphia Newspapers' nine large press areas and gave new meaning to "hot off the press."<br /><br />
                    <a href="assets/literature/solutions3.pdf" target="_blank">Solution #3 - Becton Dickinson Diagnostic Instrument Systems</a><br /> Multi-faceted adversity was conquered by McGill's duct diversity applied to the specialized system for this Becton Dickinson research and manufacturing center.<br /><br />
                    <a href="assets/literature/solutions4.pdf" target="_blank">Solution #4 - Praxair Distribution</a><br /> Form follows function as McGill's duct system becomes an integral architectural feature while efficiently heating and cooling the wide-open spaces of Praxair's award-winning distribution center.<br /><br />
                    <a href="assets/literature/solutions5.pdf" target="_blank">Solution #5 - Herman Miller's The MarketPlace</a><br /> This McGill duct system leads the way in energy efficiency, noise control, aesthetics, and economy in this new LEEDS-certified headquarters for Herman Miller.<br /><br />
                    <a href="assets/literature/solutions6.pdf" target="_blank">Solution #6 - Webster Aquatic Center</a><br /> At Webster, New York's world-class aquatic center, McGill's duct system and proprietary computer-aided-design program help the contractor reduce noise, minimize installation and operating costs, and enhance HVAC efficiency.<br /><br />
                    <a href="assets/literature/solutions7.pdf" target="_blank">Solution #7 - Aspire Pharmaceutical</a><br /> McGill total system design saves Aspire Pharmaceutical time and money on new HVAC and dust collection systems in their new Weston, FL facility.<br /><br />
                    <a href="assets/literature/solutions8.pdf" target="_blank">Solution #8 - Mercedes-Benz</a><br /> McGill Mobile Duct Machine delivers Benz-like performance for Mercedes-Benz's Tuscaloosa, AL manufacturing facility expansion.<br /><br />
                    <a href="assets/literature/solutions9.pdf" target="_blank">Solution #9 - St. Ann's Hospital</a><br /> McGill's expertise and Uni-Gasket® fittings are the prescription for saving time and money with this 13,400-foot duct system for St. Ann's Hospital in Westerville, Ohio.<br /><br />
                </div>
            </div>
        </tab>
    </tabset>
</div>