<div class="animated fadeIn">
    <tabset>
        <tab heading="Product Literature">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/productsServices.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirFlow has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/productsServices.pdf" target="_blank">McGill AirFlow™ Duct Systems — Products and Services</a><br /><br />
                    <a href="assets/literature/swRFOdf.pdf" target="_blank">Single-Wall, Round and Flat Oval Duct and Fittings</a><br /><br />
                    <a href="assets/literature/silverguard.pdf" target="_blank">SilverGuard™ Duct and Fittings</a><br /><br />
                    <a href="assets/literature/uniGasket.pdf" target="_blank">Uni-Gasket® Fittings</a><br /><br />
                    <a href="assets/literature/industrialBrochure.pdf" target="_blank">Industrial Duct Systems — Products and Services</a><br /><br />
                    <a href="assets/literature/exposedDuct.pdf" target="_blank">Exposed Duct Systems</a><br /><br />
                    <a href="assets/literature/dwRFOdf.pdf" target="_blank">Double-Wall, Insulated Duct and Fittings</a><br /><br />
                    <a href="assets/literature/rectDUCTSW.pdf" target="_blank">Rectangular Duct and Fittings</a><br /><br />
                    <a href="assets/literature/RECTk27.pdf" target="_blank">Rectangular-k27® Duct and Fittings</a><br /><br />
                    <a href="assets/literature/uniCoat.pdf" target="_blank">Uni-Coat™ Duct and Fittings</a><br /><br />
                    <a href="assets/literature/uniStack.pdf" target="_blank">Uni-Stack™</a><br /><br />
                    <a href="assets/literature/UniFlange_NF2011.pdf" target="_blank">Uni-Flange™</a><br /><br />
                    <a href="assets/literature/volumeControlDampers_NF.pdf" target="_blank">Volume Control Dampers</a><br /><br />
                    <a href="assets/literature/accessDoors.pdf" target="_blank">Access Doors</a><br /><br />
                    <a href="assets/literature/DDFfactair2012.pdf" target="_blank">Factair™ Industrial Diffusers</a><br /><br />
                    <a href="assets/literature/ductDFUSER.pdf" target="_blank">Duct-D-Fuser™ Perforated Grilles</a><br /><br />
                    <a href="assets/literature/ddfRegisters.pdf" target="_blank">Duct-D-Fuser™ Duct Registers</a><br /><br />
                    <a href="assets/literature/ddfProductGuide.pdf" target="_blank">Duct-D-Fuser™ Product Guide</a><br /><br />
                    <a href="assets/literature/Leak_Detective.pdf" target="_blank">Leak Detective™</a><br /><br />
                    <a href="assets/literature/LeakDetective_testStation.pdf" target="_blank">Leak Detective Test Station for HVAC Duct Systems</a><br /><br />
                    <a href="assets/literature/SystemPressureTesting_forLeaks.pdf" target="_blank">System Pressure Testing for Leaks</a><br /><br />
                    <a href="assets/literature/mobileDuct.pdf" target="_blank">Mobile Duct Machines</a><br /><br />
                    <a href="assets/literature/uniDuct.pdf" target="_blank">Uni-Duct®</a><br /><br />
                    <a href="assets/literature/UNI_QUICK.pdf" target="_blank">Uni-Quick™ Moveable Duct System</a><br /><br />
                    <a href="assets/literature/UH_brochure.pdf" target="_blank">Uni-Housing™ Pressurized Enclosures</a><br /><br />
                    <a href="assets/literature/SOUNPAKbro.pdf" target="_blank">Sounpak® Silencers</a><br /><br />
                </div>
            </div>
        </tab>
    </tabset>
</div>