<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <div class="card-text">
            <p>McGill AirClean has made the following brochures available as .pdf documents to be viewed on-line or downloaded. To view on-line, click on the brochure cover. To download to your hard drive, select "download now" at the bottom of the file description.</p>
            <p>Click the links to view the documents.</p>
            <a href="assets/literature/APCGeneralBro_2013.pdf" target="_blank">Air Pollution Control Systems</a><br /><br />
            <a href="assets/literature/dryEPbro.pdf" target="_blank">Dry Electrostatic Precipitators</a><br /><br />
            <a href="assets/literature/wetEPbro.pdf" target="_blank">Wet Electrostatic Precipitators</a><br /><br />
            <a href="assets/literature/thermaGrid.pdf" target="_blank">RTO Systems, ThermaGrid™ Regenerative Thermal Oxidizers</a><br /><br />
            <a href="assets/literature/mobile-rto.pdf" target="_blank">Mobile RTO</a><br /><br />
            <a href="assets/literature/fabricFilters.pdf" target="_blank">Fabric Filters</a><br /><br />
            <a href="assets/literature/deNOx_bro2013.pdf" target="_blank">DeNOx SCR Reactors</a><br /><br />
            <a href="assets/literature/acidGas.pdf" target="_blank">Acid Gas Control</a><br /><br />
            <a href="assets/literature/AllServicesFlyer.pdf" target="_blank">Products and Services Solutions</a><br /><br />
            <a href="assets/literature/MAXCAM.pdf" target="_blank">MAXCAM Assured Compliance Program</a><br /><br />
            <a href="assets/literature/MSSC_532.pdf" target="_blank">Products and Services Multistage Subcooling</a><br /><br />
            <a href="assets/literature/PreventiveMaintFlyer.pdf" target="_blank">Predictive/Preventive Maintenance Services</a><br /><br />
            <a href="assets/literature/ServiceAgreements.pdf" target="_blank">Predictive/Preventive Service Agreements</a><br /><br />
            <a href="assets/literature/replacementParts_Flyer.pdf" target="_blank">Products and Services Replacement Parts</a><br /><br />
            <a href="assets/literature/TrainingFlyerSD.pdf" target="_blank">Products and Services Training Seminar</a><br /><br />
        </div>
    </div>
</div>