<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Air Pollution Control Systems from McGill AirClean</h4>
	</div>
    <p></p>
	<div class="card card-block card-outline-primary col-xs-12">
        <div class="card-text col-xs-12 col-md-6">
            <ul>
                <li>McGill AirClean has more than 40 years of experience solving air pollution control problems for boilers, furnaces, incinerators, and a variety of industrial processes.</li>
                <br />
                <li>During that time, we have helped customers comply with air emission regulation in industries such as glass, wood products, pulp and paper, automotive, chemical, pharmaceutical, food, metals, petrochemical, electrical power and steam generation, hazardous solid waste incineration, and many more.</li>
                <br />
                <li>With our extensive line of air pollution control equipment, we solve problems involving different types and combinations of particulate, acid gas, and volatile organic compound (VOC) emissions. By working with you, we engineer and manufacture an integrated system that will meet the specific requirements of your application.</li>
                <br />
                <li>Our skilled civil, structural, electrical, mechanical, materials, and industrial engineers provide complete engineering resources. Using a network of trade-specific quality subcontractors throughout North America, we safely complete your project on time and within budget. We offer a variety of professional services to fully support the operation of your systems and help reduce your overall maintenance cost.</li>
                <br />
                <li>Our goal is to provide a dependable, long-term solution to your air pollution control problem at the lowest overall cost to you.</li>
            </ul>
        </div>
        <div class="media col-xs-12 col-md-6">
            <div class="media-right">
                <img class="py-1" src="assets/img/aboutus/about-1.jpg">
                <img class="py-1" src="assets/img/aboutus/about-2.jpg">
                <img class="py-1" src="assets/img/aboutus/about-3.jpg">
                <img class="py-1" src="assets/img/aboutus/about-4.jpg">
            </div>
            <div class="media-body">
                <p></p>
            </div>
	    </div>
</div>