<div class="animated fadeIn">
    <tabset>
        <tab heading="Applications & Benefits">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Movable Duct System - Dust Collection and Material Handling Applications</h4><br />
                <div class="card-text">
                    <p>Ideal for fume, dust and material handling systems in laboratories, shops, and process manufacturing facilities requiring frequent rerouting of the ductwork due to process changes, McGill AirFlow's Uni-Quick duct system lowers the cost of installation and minimizes downtime when moving systems. Uni-Quick is designed to quickly assemble, disassemble, and reassemble to meet changing application requirements. Standard construction is applicable for +10 to -30 wg systems. Contact McGill AirFlow for applications exceeding those conditions.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/assembly3.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Components & Sizes">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Components & Sizes</h4><br />
                <div class="card-text">
                    <p>Comprised of round sheet metal duct with standard roll-lipped ends, McGill's Uni-Quick system is supplied in standard and heavy gauge metal. Elbows (pleated, welded, and tube), branches (single and double), T- and Y-connectors, in-cuts, and cut-offs enable designers to develop optimal configurations.</p>
                    <p>Various adapters and reducers, butterfly valves, floor sweeps, ball joints, and flex hoses are easily connected, quickly and securely, using welded, O-ring-lined, snap-on clamps. Blast gates with automatic controls permit tuning configurations to application-specific airflow requirements. Radial arm hoods, No-Loss stack heads, bellmouths, in-line back blasts, and vibration dampers are available to meet all requirements. Standard O-ring gaskets are made from Buna-N, which is temperature resistant to a maximum of 250°F. Other O-ring materials include hi-temp red silicone (max 500°F), and FDA food-grade rubber, Goretex®, and Viton® for oil mist applications (all max 250°F).</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/assembly2.jpg">
                    </figure>
                </div>
                <div class="card-text">
                  <h6><p>Sizes</p></h6>
                    <p>Standard round duct in five-foot lengths is offered in 3- to 22-inch (except 21-inches) diameters in one-inch increments in galvanized or stainless steel.</p>
                </div>                
            </div>
        </tab>
        <tab heading="Adjustability">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Adjustability</h4><br />
                <div class="card-text">
                    <p>Adjustable sleeve pipe assemblies maximize flexibility for challenging system configurations. The standard adjustable sleeves are 11 inches long and provide 11 to 18 inches of adjustment. Clamp-on connectors with rubber O-rings ensure airtight seals.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/adjustablesleeve.jpg">
                    </figure>
                </div>
            </div>
        </tab>        
        <tab heading="Support System">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Support System</h4><br />
                <div class="card-text">
                    <p>Duct systems are suspended using hangers made from woven-wire cable, which is offered in three load-measured gauges. Hangers are quickly attached using hardened, self-locking metal grips.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/hanger.jpg">
                    </figure>
                </div>
            </div>
        </tab>  
        <tab heading="System Component Selection">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Selection Chart</h4><br />
                <div class="card-text">
                  <table cellpadding=5>
                    <thead>
                        <tr>
                            <td>Component</td>
                            <td>Diameters/Configurations</td>
                            <td>Materials</td>
                            <td>Gauges</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Standard Duct, 5-foot lengths</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>26-20</td>
                        </tr>
                        <tr>
                            <th>Adjustable Sleeve Pipe<br />(standard 11 inches)</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>26-20</td>
                        </tr>
                        <tr>
                            <th>Clamp</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Stainless Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Elbow - Tubed</th>
                            <td>3-8 inches (except 7) in 1-inch increments with standard (1.5) or long (2.5) radii and 45° or 90° bends</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <th>Elbow - Stitch Welded</th>
                            <td>3-12 inches in 1-inch increments with standard radius (1.5) and 45° or 90° bends</td>
                            <td>Galvanized</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <th>Elbow — Segmented</th>
                            <td>7-22 inches (except 21) in 1-inch increments with standard (1.5) or long (2.5) radii and 30°, 45°, 60°, or 90° bends</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-18</td>
                        </tr>
                        <tr>
                            <th>Elbow — Pleated,<br />Non-Welded and Welded</th>
                            <td>3-15 inches in 1-inch increments with standard (1.5) or long (2.5) radii and 30°, 45°, 60°, or 90° bends</td>
                            <td>Galvanized</td>
                            <td>22-20</td>
                        </tr>
                        <tr>
                            <th>Branch - Tee on Taper</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Double Branch - Tee on Taper</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Y Branch</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>In-Cut</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Cut-Off</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles, full or half</td>
                            <td>Cast Aluminum Frame, Galvanized or Stainless Steel Blades</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Blast Gate - Airtight</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <th>Adapter - Straight</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 5 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Adapter - Flanged</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 5 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Adapter - Hose</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Reducer</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Butterfly Valve</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 11 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Rectangular-to-Round Transition</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-18</td>
                        </tr>
                        <tr>
                            <th>Floor Sweep</th>
                            <td>4-8 inches in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Ball Joint</th>
                            <td>3-12 inches in 1-inch increments</td>
                            <td>Galvanized</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>End Cap - Closed End or Bird Screen</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Rubber Flex Hose</th>
                            <td>2, 2.5, 3-10 inches in 1-inch increments, and 12-24 inches in 2-inch increments </td>
                            <td>Black or Clear Rubber</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Steel Flex Hose - Rigid</th>
                            <td>2, 2.5, 3-10 inches in 1-inch increments, and 12 inches</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Steel Flex Hose - Flexible</th>
                            <td>3-8 inches (except 7) in 1-inch increments</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Hose Clamp</th>
                            <td>2, 3, 4, 5, 6, 8, 10, and 12 inches</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Radial Arm Hood</th>
                            <td>4, 5, and 6 inches</td>
                            <td>Galvanized</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>No-Loss Stack Head</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>24-20</td>
                        </tr>
                        <tr>
                            <th>Vibration Dampener</th>
                            <td>4-10 inches in 1-inch increments and 12-30 inches in 2-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Bellmouth (short radius)</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Diverter Valve<br />Manual or Automatic</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Saddle</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>16-14</td>
                        </tr>
                        <tr>
                            <th>Hanger</th>
                            <td>Sizes 3-5, includes 15-foot cable, 1 gripper and release pin, (Additional accessories available.)</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </tab>
    </tabset>
</div>