<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Parts and Service, Preventive Maintenance</h4><br />
        <div class="card-text">
            <p>We have a complete service program to repair, maintain, rebuild, and upgrade air pollution control systems. We can work with you to make sure that your equipment continues to comply with emission regulations. Our preventive maintenance program can help you keep your equipment running by spotting problems before they become emergencies. When equipment is worn or damaged, we can rebuild it so that it performs to the original specifications. In many cases, we can improve an older system's performance by upgrading it with the latest technology.</p>
        </div>      
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 embed-responsive embed-responsive-16by9">
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1 px-1" src="assets/img/pands/1.jpg">
                </figure>
            </div>
        </div>
    </div>
</div>