<div class="animated fadeIn">
	<tabset>
		<tab heading="McGill AirFlow">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title">Locations</h4>
				<tabset class="locations">
					<tab heading="AK">
            <div class="card-text">
              <b>Alaska Sales</b>
              <hr> 
              alaska@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="AL">
            <div class="card-text">
              <b>Alabama Sales</b>
              <hr> 
              alabama@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="AR">
            <div class="card-text">
              <b>Arkansas Sales</b>
              <hr> 
              arkansas@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="AZ">
            <div class="card-text">
              <b>Arizona Sales</b>
              <hr> 
              phoenix@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="CA">
            <div class="card-text">
              <b>California Sales</b>
              <br /><br />
              <b>Western Area Sales</b>
              <hr>
              509/599-3752<br />
              westernarea@mcgillairflow.com<br /><br />
              <b>California Sales Office</b>
              <hr>
              1151 W. Robinhood Drive Suite A-9<br />
              Stockton, CA 95207<br />
              209/466-2351<br />
              Fax: 209/941-2739<br /> 
              westregionsales@mcgillairflow.com<br /><br />
              <b>Fresno Area Sales</b>
              <hr>
              fresno@mcgillairflow.com<br /><br />
              <b>Los Angeles Area Sales</b>
              <hr>
              losangeles@mcgillairflow.com<br /><br />
              <b>San Diego Area Sales</b>
              <hr>
              sandiego@mcgillairflow.com<br /><br />
              <b>San Francisco Area Sales</b>
              <hr>
              sanfrancisco@mcgillairflow.com<br />
              <br />
            </div>
					</tab>
					<tab heading="CO">
            <div class="card-text">
              <b>Colorado Sales</b>
              <hr> 
              denver@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="CT">
            <div class="card-text">
              <b>Connecticut Sales</b>
              <br /><br />
              <b>Northeast Region Sales Office and Hartford Area Sales</b>
              <hr>
              99 Rainbow Road, Suite E<br />
              East Granby, CT 06026<br />
              860/653-8001<br />
              Fax: 866/234-3412<br />
              hartford@mcgillairflow.com<br />
              northeastregionsales@mcgillairflow.com
            </div>
					</tab>
					<tab heading="DE">
            <div class="card-text">
              <b>Delaware Sales</b>
              <hr> 
              delaware@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="DC">
            <div class="card-text">
              <b>District of Columbia Sales</b>
              <br /><br />
              <b>Washington DC Area</b>
              <hr>
              washingtondc@mcgillairflow.com<br /><br />
              <b>National Technical Service Office</b>
              <hr>
              301/537-0887<br />
              natltechservicenorth@mcgillairflow.com<br /><br />
            </div>
					</tab>
					<tab heading="FL">
            <div class="card-text">
              <b>Florida Sales</b>
              <br /><br />
              <b>Ft. Lauderdale/Miami Area Sales</b>
              <hr>
              ft.lauderdale@mcgillairflow.com<br /><br />
              <b>Jacksonville Area Sales</b>
              <hr>
              jacksonville@mcgillairflow.com<br /><br />
              <b>Orlando Area Sales</b>
              <hr>
              orlando@mcgillairflow.com<br /><br />
              <b>Tallahassee Area Sales</b>
              <hr>
              tallahassee@mcgillairflow.com<br /><br />
              <b>Tampa Bay Area Sales</b>
              <hr>
              813/401-8042<br />
              Fax: 866/234-8058<br />
              tampabay@mcgillairflow.com
            </div>
					</tab>
					<tab heading="GA">
            <div class="card-text">
              <b>Georgia Sales</b>
              <hr> 
              770/541-1843<br />
              Fax: 866/235-3143
            </div>
					</tab>
					<tab heading="HI">
            <div class="card-text">
              <b>Hawaii Sales</b>
              <hr> 
              hawaii@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="ID">
            <div class="card-text">
              <b>Idaho Sales</b>
              <hr> 
              idaho@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="IL">
            <div class="card-text">
              <b>Illinois Sales</b>
              <br /><br />
              <b>Chicago and Illinois Sales</b>
              <hr>
              630/572-1293<br />
              Fax: 866/522-1332<br />
              chicago@mcgillairflow.com<br /><br />
              <b>Peoria Area Sales</b>
              <hr>
              peoria@mcgillairflow.com
            </div>
					</tab>
					<tab heading="IN">
            <div class="card-text">
              <b>Indiana Sales</b>
              <hr>
              indianapolis@mcgillairflow.com             
            </div>
					</tab>
					<tab heading="IA">
            <div class="card-text">
              <b>Iowa Sales</b>
              <br /><br />
              <b>Iowa Plant and Midwest Region Sales Office</b>
              <hr>
              900 Pinder Avenue<br />
              Grinnell, IA 50112<br />
              641/236-1580<br />
              Fax: 641/236-1588<br />
              iowaplant@mcgillairflow.com<br />
              midwestregionsales@mcgillairflow.com<br /><br />
              <b>Des Moines Area Sales</b>
              <hr>
              desmoines@mcgillairflow.com
            </div>
					</tab>
					<tab heading="KS">
            <div class="card-text">
              <b>Kansas Sales</b>
              <hr> 
              kansascity@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="KY">
            <div class="card-text">
              <b>Kentucky Sales</b>
              <hr> 
              louisville@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="LA">
            <div class="card-text">
              <b>Louisiana Sales</b>
              <hr> 
              louisiana@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="MA">
            <div class="card-text">
              <b>Massachusetts Sales</b>
              <hr>
              boston@mcgillairflow.com
            </div>
					</tab>
					<tab heading="MD">
            <div class="card-text">
              <b>Maryland Sales</b>
              <hr>
              baltimore@mcgillairflow.com
            </div>
					</tab>
					<tab heading="ME">
            <div class="card-text">
              <b>Maine Sales</b>
              <hr> 
              maine@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="MI">
            <div class="card-text">
              <b>Michigan Sales</b>
              <br /><br />
              <b>Detroit Area Sales</b>
              <hr>
              detroit@mcgillairflow.com<br /><br />
              <b>Grand Rapids Area Sales</b>
              <hr>
              grandrapids@mcgillairflow.com
            </div>
					</tab>
					<tab heading="MN">
            <div class="card-text">
              <b>Minnesota Sales</b>
              <hr> 
              minneapolis@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="MO">
            <div class="card-text">
              <b>Missouri Sales</b>
              <br /><br />
              <b>Kansas City Area Sales</b>
              <hr>
              kansascity@mcgillairflow.com<br /><br />
              <b>St. Louis Area Sales</b>
              <hr>
              st.louis@mcgillairflow.com
            </div>
					</tab>
					<tab heading="MS">
            <div class="card-text">
              <b>Mississippi Sales</b>
              <hr> 
              mississippi@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="MT">
            <div class="card-text">
              <b>Montana Sales</b>
              <hr>
              509/599-3752<br />
              montana@mcgillairflow.com
            </div>
					</tab>
					<tab heading="NC">
            <div class="card-text">
              <b>North Carolina Sales</b>
              <br /><br />
              <b>Raleigh Area Sales</b>
              <hr>
              919/467-1993<br />
              Fax: 866/909-9554<br />
              raleigh@mcgillairflow.com<br /><br />
              <b>Charlotte Area Sales</b>
              <hr>
              704/525-5701<br />
              Fax: 866/349-4742<br />
              charlotte@mcgillairflow.com<br />
            </div>
					</tab>
					<tab heading="ND">
            <div class="card-text">
              <b>North Dakota Sales</b>
              <hr> 
              n.dakota@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="NE">
            <div class="card-text">
              <b>Nebraska Sales</b>
              <hr> 
              nebraska@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="NH">
            <div class="card-text">
              <b>New Hampshire Sales</b>
              <hr>
              802/442-1900<br />
              newhampshire@mcgillairflow.com
            </div>
					</tab>
					<tab heading="NJ">
            <div class="card-text">
              <b>New Jersey Sales</b>
              <br /><br />
              <b>New York City Area Sales Office</b>
              <hr>
              newyork@mcgillairflow.com<br /><br />
            </div>
					</tab>
					<tab heading="NM">
            <div class="card-text">
              <b>New Mexico Sales</b>
              <hr> 
              newmexico@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="NY">
            <div class="card-text">
              <b>New York Sales</b>
              <br /><br />
              <b>Albany Area Sales</b>
              <hr>
              albany@mcgillairflow.com<br /><br />
              <b>Buffalo Area Sales</b>
              <hr>
              buffalo@mcgillairflow.com<br /><br />
              <b>New York City Area Sales</b>
              <hr>
              newyork@mcgillairflow.com<br /><br />
              <b>Rochester Area Sales</b>
              <hr>
              585/475-1470<br />
              rochester@mcgillairflow.com<br /><br />
              <b>Syracuse Area Sales</b>
              <hr>
              syracuse@mcgillairflow.com
            </div>
					</tab>
					<tab heading="NV">
            <div class="card-text">
              <b>Nevada Sales</b>
              <br /><br />
              <b>Las Vegas Area Sales</b>
              <hr>
              lasvegas@mcgillairflow.com<br /><br />
              <b>Reno Area Sales</b>
              <hr>
              reno@mcgillairflow.com<br />
            </div>
					</tab>
					<tab heading="OH">
            <div class="card-text">
              <b>Ohio</b>
              <br /><br />
              <b>Ohio Plant and Central Region Sales Office</b>
              <hr>
              2400 Fairwood Avenue<br />
              Columbus, OH 43207<br />
              614/829-1200<br />
              Fax: 614/829-1488<br />
              ohioplant@mcgillairflow.com<br />
              centralregionsales@mcgillairflow.com<br />
              albany@mcgillairflow.com<br /><br />
              <b>Cincinnati Area Sales</b>
              <hr>
              cincinnati@mcgillairflow.com<br /><br />
              <b>Cleveland Area Sales</b>
              <hr>
              cleveland@mcgillairflow.com<br /><br />
              <b>Columbus Area Sales</b>
              <hr>
              columbus@mcgillairflow.com<br /><br />
              <b>Toledo Area Sales</b>
              <hr>
              toledo@mcgillairflow.com
            </div>
					</tab>
					<tab heading="OK">
            <div class="card-text">
              <b>Oklahoma Sales</b>
              <br /><br />
              <b>Oklahoma City Area Sales</b>
              <hr>
              oklahomacity@mcgillairflow.com<br /><br />
              <b>Tulsa Area Sales</b>
              <hr>
              tulsa@mcgillairflow.com<br />
            </div>
					</tab>
					<tab heading="OR">
            <div class="card-text">
              <b>Oregon Sales</b>
              <hr> 
              portlandor@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="PA">
            <div class="card-text">
              <b>Pennsylvania Sales</b>
              <br /><br />
              <b>Philadelphia Area Sales</b>
              <hr>
              philadelphia@mcgillairflow.com<br /><br />
              <b>Pittsburgh Area Sales</b>
              <hr>
              pittsburgh@mcgillairflow.com              
            </div>
					</tab>
					<tab heading="PR">
            <div class="card-text">
              <b>Puerto Rico Sales</b>
              <hr> 
              puertorico@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="RI">
            <div class="card-text">
              <b>Rhode Island Sales</b>
              <hr>
              860/833-1800<br />
              providence@mcgillairflow.com              
            </div>
					</tab>
					<tab heading="SC">
            <div class="card-text">
              <b>South Carolina</b>
              <br /><br />
              <b>South Carolina Plant and Southeast Region Sales Office</b>
              <hr>
              300 Dale Drive<br />
              Fountain Inn, SC 29644<br />
              864/241-1535<br />
              Fax: 864/241-1542<br />
              s.carolinaplant@mcgillairflow.com<br />
              southeastregionsales@mcgillairflow.com<br /><br />
              <b>Charleston Area Sales</b>
              <hr>
              864/787-1783
              charleston@mcgillairflow.com<br /><br />
              <b>Columbia Area Sales</b>
              <hr>
              864/787-1783<br />
              columbia@mcgillairflow.com
            </div>
					</tab>
					<tab heading="SD">
            <div class="card-text">
              <b>South Dakota Sales</b>
              <hr> 
              s.dakota@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="TN">
            <div class="card-text">
              <b>Tennessee Sales</b>
              <br /><br />
              <b>Knoxville Area Sales</b>
              <hr>
              knoxville@mcgillairflow.com<br /><br />
              <b>Memphis Area Sales</b>
              <hr>
              memphis@mcgillairflow.com<br /><br />
              <b>Nashville Area Sales</b>
              <hr>
              nashville@mcgillairflow.com
            </div>
					</tab>
					<tab heading="TX">
            <div class="card-text">
              <b>Texas</b>
              <br /><br />
              <b>Texas Plant</b>
              <hr>
              206 Pecos Street<br />
              Hillsboro, TX 76645<br />
              254/580-1680<br />
              Fax: 254/580-1688<br />
              texasplant@mcgillairflow.com<br /><br />
              <b>Austin Area Sales</b>
              <hr>
              austin@mcgillairflow.com<br /><br />
              <b>Dallas/Ft. Worth Area Sales</b>
              <hr>
              972/606-8553<br />
              dallas.ft.worth@mcgillairflow.com<br /><br />
              <b>El Paso Area Sales</b>
              <hr>
              elpaso@mcgillairflow.com<br /><br />
              <b>Houston Area Sales</b>
              <hr>
              713/680-3771<br />
              houston@mcgillairflow.com<br /><br />
              <b>Southwest Region Sales Office and San Antonio Area Sales</b>
              <hr>
              10615 Perrin Beitel Road, No. 702A<br />
              San Antonio, TX 78217<br />
              210/599-1957<br />
              Fax: 866/261-2071<br />
              sanantonio@mcgillairflow.com<br />
              southwestregionsales@mcgillairflow.com
            </div>
					</tab>
					<tab heading="UT">
            <div class="card-text">
              <b>Utah Sales</b>
              <hr> 
              saltlakecity@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="VA">
            <div class="card-text">
              <b>Virginia Sales</b>
              <br /><br />
              <b>Richmond Area Sales</b>
              <hr>
              804/965-5367<br />
              Fax: 866/207-5654<br />
              richmond@mcgillairflow.com<br /><br />
              <b>Washington DC Area Sales</b>
              <hr>
              washingtondc@mcgillairflow.com<br /><br />
              <b>Hampton Roads Area Sales</b>
              <hr>
              hamptonroads@mcgillairflow.com
            </div>
					</tab>
					<tab heading="VT">
            <div class="card-text">
              <b>Vermont Plant and Sales</b>
              <hr> 
              452 Harwood Hill Road<br />
              Bennington, VT 05201<br />
              802/442-1900<br />
              Fax: 802/442-1902<br />
              vermontplant@mcgillairflow.com              
            </div>
					</tab>
					<tab heading="WA">
            <div class="card-text">
              <b>Washington Sales</b>
              <br /><br />
              <b>Seattle Area Sales</b>
              <hr>
              seattle@mcgillairflow.com<br /><br />
              <b>Spokane Area Sales</b>
              <hr>
              spokane@mcgillairflow.com
            </div>
					</tab>
					<tab heading="WI">
            <div class="card-text">
              <b>Wisconsin Sales</b>
              <hr>
              262/784-0340<br />
              Fax: 866/429-2419<br />
              milwaukee@mcgillairflow.com
            </div>
					</tab>
					<tab heading="WV">
            <div class="card-text">
              <b>West Virginia Sales</b>
              <hr> 
              w.virginia@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="WY">
            <div class="card-text">
              <b>Wyoming Sales</b>
              <hr> 
              wyoming@mcgillairflow.com
              <br />
            </div>
					</tab>
					<tab heading="Canada">
            <div class="card-text">
              <b>Canada Sales</b>
              <br /><br />
              <b>Eastern Ontario Sales</b>
              <hr>
              toronto@mcgillairflow.com<br /><br />
              <b>Quebec Sales</b>
              <hr>
              montreal@mcgillairflow.com<br /><br />
              <b>Estern Ontario Sales</b>
              <hr>
              toronto@mcgillairflow.com<br /><br />
              <b>Atlantic Provinces</b>
              <hr>
              halifax@mcgillairflow.com<br /><br />
              <b>British Columbia Sales</b>
              <hr>
              vancouver@mcgillairflow.com<br /><br />
              <b>Alberta Sales</b>
              <hr>
              calgary@mcgillairflow.com<br /><br />
              <b>Saskatchewan Sales</b>
              <hr>
              regina@mcgillairflow.com<br /><br />
              <b>Manitoba Sales</b>
              <hr>
              winnipeg@mcgillairflow.com<br /><br />
              <b>Western Ontario Sales</b>
              <hr>
              thunderbay@mcgillairflow.com
            </div>
					</tab>
				</tabset>
			</div>
		</tab>
    <!--<tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>-->
		<!--<tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>-->
	</tabset>
</div>