<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Regenerative Thermal Oxidizers (RTOs) | ThermaGrid™</h4><br />
        <div class="card-text">
            <p>Our ThermaGrid regenerative thermal oxidizer (RTO) systems use high temperature to destroy VOC emissions within a combustion chamber. What sets it apart from other RTOs is its economical operation. It uses gridded ceramic blocks as a heat transfer medium. The gridded ceramic can handle dirty or particulate-laden gas flows with very little need for maintenance. ThermaGrid RTO technology has been proven effective for controlling VOC emissions from wood dryers, paint booths, chemical and pharmaceutical processing, semiconductor manufacturing, printing processes, rubber and plastics manufacturing, and aluminum casting operations.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-7 embed-responsive embed-responsive-21by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-4by3"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/rto/rto.jpg">
                </figure>
            </div>
            <div class="col-xs-12 col-md-5 card-text py-1">
                <h6>McGill AirClean's Regenerative Thermal Oxidizers Help Many Industries Comply with Emission Regulations</h6>
                <p>McGill AirClean's regenerative thermal oxidizer (RTO) systems combine effective destruction of volatile organic compounds (VOCs) with economical and dependable operation to comply with emission regulations at the lowest possible cost. McGill AirClean's ThermaGrid™ RTOs are effective in controlling chemical emissions and VOCs in a wide variety of industries. ThermaGrid RTOs use a gridded-ceramic heat transfer block that controls VOC emissions and other chemical emissions at high-destruction efficiencies with low-energy consumption and minimal maintenance. These RTO systems are available in economical two-bed designs and in three-bed designs for increased VOC removal efficiency. The straight-through flow design stays clean and resists plugging and maintenance problems that plague other RTO designs.</p>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 card-text">
                <h6>McGill AirClean's Regenerative Thermal Oxidizers Help Many Industries Comply with Emission Regulations</h6>
                <p>McGill AirClean's ThermaGrid regenerative thermal oxidizers (RTOs) use a proprietary gridded-ceramic heat transfer block that controls VOC emissions and other chemical emissions at high-destruction efficiencies with low-energy consumption and minimal maintenance. These RTO systems are available in economical two-bed designs and in three-bed designs for increased VOC removal efficiency. The straight-through flow design stays clean and resists plugging and maintenance problems that plague other RTO designs.</p>
                <p>When cleaning is required it is quick and easy. For example, silicon dioxide deposits from the combustion of HMDS can be removed from the gridded ceramic heat transfer blocks pneumatically using standard plant compressed air. The process takes less than one minute per block.</p>
                <p>McGill AirClean's RTO systems combine effective destruction of volatile organic compounds (VOCs) with economical and dependable operation to comply with emission regulations at the lowest possible cost.</p>
            </div>
            <div class="col-xs-12 col-md-6 card-text">
                <h6>Our ThermaGrid™ RTO Systems Cost Less to Operate.</h6>
                <p>Our ThermaGrid RTO system costs less to operate than conventional saddle-type systems. The key to its efficient operation is the design of the gridded ceramic blocks that serve as a heat transfer medium as it enters the combustion chamber. Operating costs depend in part on how much energy is used to move the gas through the system. Conventional saddle-type designs are expensive to operate because the saddles restrict gas flow, creating a high pressure drop. But a ThermaGrid system's gridded ceramic blocks allow straight-through, laminar flow, resulting in a significantly lower pressure drop. That means lower horsepower requirements and lower operating costs.</p>
            </div>
        </div>
        <hr />
        <div class="card-text">
            <h6>Our RTO technology is available in portable, skid-mounted ThermaGrid™ RTO systems.</h6>
            <p>McGill AirClean offers skid-mounted ThermaGrid RTO systems for emission control applications with small volume flows. These compact RTO systems are available in two- and three-bed designs capable of handling process gas volume flows up to 9,000 scfm. They are ideal for indoor and outdoor installations where a limited amount of space is available.</p>
            <p>Because of their skid-mounted design, these self-contained RTO systems can be installed quickly and easily.</p>
            <p>Each unit is completely piped and wired for hookup to your utilities. ThermaGrid RTO systems can be equipped to operate on gas or electricity, whichever is most convenient for your facility. The skid-mounted design is easily portable, so that you can move the RTO to another location if your processing needs change.</p>
        </div>
    </div>
</div>