<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Sounpak® HVAC Silencers</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow offers a complete line of Sounpak silencers for noise control HVAC applications. Sounpak silencers have been designed, tested, and manufactured to ensure the highest performance and most efficient operation at an economical price.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/sounpak_dblWall_rnd.jpg">
                    </figure>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/rectSilencer_group.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>McGill AirFlow has conducted acoustical testing programs on all Sounpak silencers. As a result of these tests, (run in accordance with ASTM standard E477), reliable and accurate performance data is available. This data allows the performance of Sounpak silencers to be easily and accurately predicted, and makes it possible to select the proper model and size to meet specified noise reduction requirements.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/roundRectElbow.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>The performance ratings are available in easy-to-use tabular form by contacting McGill AirFlow.</p>
                </div>
            </div>
        </tab>
        <tab heading="Soundpak Construction">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Sounpak® HVAC Silencer Construction</h4><br />
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/constructions.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Specialized construction features are available for all McGill AirFlow rectangular and round silencers.</p>
                    <h6>Material</h6>
                    <p>Galvanized, paintable galvanized, stainless steel Types 304 and 316, and aluminum</p>
                </div>
                <br />
                <div class="card-text">
                    <h6>Material Thickness</h6>
                    <p>10- to 22-gauge outer shells<br />
                       18- to 24-gauge perforated inner baffles
                    </p>
                </div>
                <br />
                <div class="card-text">
                    <h6>Connections</h6>
                    <p>Flanges, transitions, slip-fit, raw, applied connectors</p>
                </div>
                <br />
                <div class="card-text">
                    <h6>Acoustical-grade Fill Barriers</h6>
                    <p>Mylar®, Tedlar®, polyethylene, and fiberglass cloth</p>
                </div>
                <br />
                <div class="card-text">
                    <h6>Acoustical-fill</h6>
                    <p>Standard acoustical-grade insulation, high-temperature acoustical-grade insulation</p>
                </div>
            </div>
        </tab>
        <tab heading="Soundpak Models">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Sounpak® HVAC Silencer Models</h4><br />
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/rect_silencers.jpg">
                    </figure>
                </div>
                <div>
                  <table cellpadding=5>
                      <thead>
                          <tr><td>Rectangular Silencers</td></tr>
                      </thead>
                      <tbody>
                          <tr><td><b>Type RSF</b><br />rectangular, straight, passive silencer with acoustical fill</td></tr>
                          <tr><td><b>Type RSV</b><br />rectangular, straight, passive silencer with acoustical fill and a vapor barrier</td></tr>
                          <tr><td><b>Type RSN</b><br />rectangular, straight, reactive silencer, no acoustical fill required</td></tr>
                          <tr><td><b>Type REF</b><br />rectangular, passive elbow silencer with acoustical fill</td></tr>
                          <tr><td><b>Type REV</b><br />rectangular, passive elbow silencer with acoustical fill and a vapor barrier</td></tr>
                          <tr><td><b>Type REN</b><br />rectangular, reactive elbow silencer, no acoustical fill required</td></tr>
                          <tr><td><b>Type RWF</b><br />rectangular, wide body, straight, reactive silencer with acoustical fill</td></tr>
                      </tbody>
                  </table>                
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/noLoss_silencer.jpg">
                    </figure>
                </div>                
                <div>
                  <table cellpadding=5>
                    <thead>
                        <tr><td>Round Silencers</td></tr>
                    </thead>
                    <tbody>
                        <tr><td><b>Type CSF</b><br />circular, straight, passive silencer with acoustical fill</td></tr>
                        <tr><td><b>Type CSV</b><br />circular, straight, passive silencer with acoustical fill and a vapor barrier</td></tr>
                        <tr><td><b>Type CSN</b><br />circular, straight, reactive silencer, no acoustical fill required</td></tr>
                        <tr><td><b>Type CEF</b><br />circular, passive elbow silencer with acoustical fill</td></tr>
                        <tr><td><b>Type CEV</b><br />circular, passive elbow silencer with acoustical fill and a vapor barrier</td></tr>
                        <tr><td><b>Type CEN</b><br />circular, reactive elbow silencer, no acoustical fill required</td></tr>
                    </tbody>
                  </table>                
                </div>
                <div class="card-text">
                    <p>Circular (round) silencers are available in standard inner diameters of 12 to 60 inches. The length varies as a condition of pressure and insertion loss requirements. Applications include low- to high-velocity systems. Passive silencers can be ordered with a vapor barrier between the fill and the baffle wall. Circular silencers are available in galvanized steel, paintable steel, 304 and 316 stainless steels, and aluminum.</p>
                </div>                
            </div>
        </tab>
        <tab heading="Applications">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Sounpak® HVAC Silencer Applications</h4><br />
                <div class="card-text">
                  <h6>HVAC</h6>
                    <p>Fan discharge and intake</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/churchofGod.jpg">
                    </figure>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/soundpak/admFanRoom.jpg">
                    </figure>
                </div>
            </div>
        </tab>        
    </tabset>
</div>