<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Construction</h4><br />
        <div class="card-text">
            <p>As part of our complete turnkey service, we handle all the construction work involved with our air pollution control systems. We have extensive experience with larger air pollution control projects. McGill's own field engineers and superintendents manage the construction, check-out, and startup of all equipment. They can remain on site after the air pollution control system has been installed to instruct your personnel in starting, testing, operating, and maintaining the equipment. We can work with you to monitor the performance of the system, making adjustments and providing service.</p>
        </div>
        <div class="col-xs-12 embed-responsive embed-responsive-4by3">
            <figure class="mcgill-picture">
                <img class="embed-responsive-item py-1 px-1" src="assets/img/const/1a.jpg">
            </figure>
        </div>
        <div class="col-xs-12 embed-responsive embed-responsive-4by3">
            <figure class="mcgill-picture">
                <img class="embed-responsive-item py-1 px-1" src="assets/img/const/2a.jpg">
            </figure>
        </div>
        <div class="col-xs-12 embed-responsive embed-responsive-4by3">
            <figure class="mcgill-picture">
                <img class="embed-responsive-item py-1 px-1" src="assets/img/const/3a.jpg">
            </figure>
        </div>
        <div class="col-xs-12 embed-responsive embed-responsive-4by3">
            <figure class="mcgill-picture">
                <img class="embed-responsive-item py-1 px-1" src="assets/img/const/4a.jpg">
            </figure>
        </div>
    </div>
</div>