<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Catalytic Filter System</h4><br />
        <div class="card-text">
            <p>McGill AirClean has been manufacturing fabric filter (baghouse) systems since 1991. Recently, we have modified our fabric filter system design to include the use of high temperature (750oF) ceramic catalytic filters. The catalytic filters remove both particulate and NOx (with ammonia injection), and provide a secondary reaction site for acid gas reduction (SOx, HCl, HF, and B2O3). We currently have 3 systems operating, and 3 under construction. Please feel free to reach out under the “Contact Us” section for more information.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-4 embed-responsive embed-responsive-4by3">
                <figure class="mcgill-picture">
                    <img class="embed-responsive-item py-1" src="assets/img/cat/cat.jpg" />
                        <figcaption>
                            6 module Catalytic Filter System for PM, SOx, and NOx control
                        </figcaption>
                </figure>
        <   </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h6>Features</h6>
                <ul>
                  <li>Modular design/construction</li>
                  <li>Single-point, removable top lids with integral pulse cleaning system</li>
                  <li>Wide ceramic filter spacing</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 card-text">
                <h6>Applications</h6>
                <ul>
                  <li>Glass</li>
                  <li>Spreader stoker</li>
                  <li>Bubbling fluidized-bed</li>
                  <li>Atomized slurry</li>
                  <li>Chain grate stoker</li>
                  <li>Cyclone</li>
                  <li>Pulverized fuel</li>
                  <li>Rotary kiln</li>
                  <li>Circulating fluidized-bed</li>
                  <li>Incineration</li>
                  <li>Gasification</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 card-text">
                <h6>Fuels</h6>
                <ul>
                    <li>Natural Gas</li>
                    <li>Coal</li>
                    <li>Salt-laden hogged fuel</li>
                    <li>Solid waste</li>
                    <li>Coal</li>
                    <li>Biomass</li>
                    <li>Oil refuse</li>
                    <li>Manure</li>
                    <li>Lignite</li>
                    <li>Hazardous waste</li>
                    <li>Municipal solid waste (MSW)</li>
                    <li>Coke</li>
                    <li>Culm</li>
                    <li>Pitch</li>
                    <li>Refuse-derived fuel (RDF)</li>
                    <li>Tire-derived fuel (TDF)</li>
                    <li>Paint sludge</li>
                    <li>Wood waste</li>
                    <li>Medical waste</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
        </div>
    </div>
</div>