<div class="animated fadeIn">
    <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Catalytic Filters</h4><br />
        <div class="card-text">
            <p>Something needs to go here for Catalytic Filters</p>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-8 embed-responsive embed-responsive-16by9">
            <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-4by3"-->
            <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
                <figure class="mcgill-picture">
                    <!--<img class="embed-responsive-item py-1" src="assets/img/ff/ff.jpg">-->
                </figure>
            </div>
            <div class="col-xs-12 col-md-4 card-text py-1">
                <h6>Features</h6>
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 card-text">
                <h6>Applications</h6>
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3r</li>
                  <li>4</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 card-text">
                <h6>Fuels</h6>
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
            </div>
        </div>
    </div>
</div>