<div class="animated fadeIn">
  <span *ngIf="showLoader" class="loading"></span>
  <tabset>
    <tab heading="Overview">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Tech Tools</h4>
        <div class="card-text">
          <p>Note: McGill AirClean makes the following Tech Tools information, data, and formulas available for your convenience and free use. Much of it is from the public domain, but some may be applicable only to McGill's specific, proprietary products. McGill makes no assurances or warranties, and assumes no liability for your use of its Tech Tools. Please contact techservice@mcgillairclean.com with your questions.</p>
        </div>
      </div>
    </tab>
    <!--Blower/Fan Sizing-->
    <tab heading="Blower/Fan Sizing">
      <div class="card card-block card-outline-primary ">
        <h5 class="card-title">Determine what size fan or blower is needed for a specific process.</h5>
        <br />
        <form novalidate (ngSubmit)="calculateBlowerSize()" #f="ngForm">
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Gas Flow (scfmd) 70°F, 14.696 psia</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.gasFlow" name="gasFlow" #value="ngModel" (click)="$event.target.select()"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">% H2O (by volume)</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.percentH2O" name="percentH2O" #value="ngModel" percent (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                <p *ngIf="value.errors.percent">
                    Value must be a valid %
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Operating Temperature (°F)</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.operatingTemperature" name="operatingTemperature" #value="ngModel" (click)="$event.target.select()"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Fan Static Pressure (in wg)</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.fanStaticPressure" name="fanStaticPressure" #value="ngModel" (click)="$event.target.select()"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Fan Inlet Pressure (psia)</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.fanInletPressure" name="fanInletPressure" #value="ngModel" (click)="$event.target.select()"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Fan Efficiency</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.fanEfficiency" name="fanEfficiency" #value="ngModel" percent (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                <p *ngIf="value.errors.percent">
                    Value must be a valid %
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Flow Safety Factor</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.flowSafetyFactor" name="flowSafetyFactor" #value="ngModel" percent (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                <p *ngIf="value.errors.percent">
                    Value must be a valid %
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Static Pressure Safety Factor</label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="blower.staticPressureSafetyFactor" name="staticPressureSafetyFactor" #value="ngModel" percent (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                <p *ngIf="value.errors.percent">
                    Value must be a valid %
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <button [disabled]="f.invalid" type="submit" class="btn-space btn btn-success">Calculate</button> 
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label">Results: &nbsp;&nbsp;
            </label>
            <div class="col-xs-8">
              <span>Actual Gas Flow: &nbsp; {{blower.gasFlowActual}} ACFM at {{blower.operatingTemperature}}°F</span><br />
              <span>Actual Design Flow: &nbsp; {{blower.designFlowActual}} ACFM at {{blower.operatingTemperature}}°F</span><br />
              <span>Design Static Pressure: &nbsp; {{blower.designStaticPressure}} in wg</span><br />
              <span>Fan BHP: &nbsp; {{blower.fanBHP}} bhp</span><br />
              <span>Motor HP: &nbsp; {{blower.fanMotorHP}} hp</span><br />
              <span>Wet Gas Density: &nbsp; {{blower.wetGasDensity}} lb/ft<sup>3</sup> at {{blower.operatingTemperature}}°F</span><br />
              <span>Density Factor: &nbsp; {{blower.densityFactor}} at {{blower.operatingTemperature}}°F</span><br />
              <span>Standard Static Pressure: &nbsp; {{blower.standardStaticPressure}} in wg</span><br />
            </div>
          </div>          
        </form>
      </div>
    </tab>
    <tab heading="Air & Water Vapor Calculators">
      <div class="card card-block card-outline-primary ">
        <tabset>
          <!--Convert Relative Humidity to % Volue H2O-->
          <tab heading="Convert Relative Humidity to % Volume (H2O)">
            <form novalidate #g="ngForm">
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">Relative Humidity</label>
                <div class="col-xs-3">
                  <input type="number" class="form-control" [(ngModel)]="relHum.relativeHumidity" name="relativeHumidity" #value="ngModel" percent (click)="$event.target.select()" (ngModelChange)="calcRelativeHumidity()"/>
                  <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                    <p *ngIf="value.errors.percent">
                        Value must be a valid %
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">Temperature (°F)</label>
                <div class="col-xs-3">
                  <input type="number" class="form-control" [(ngModel)]="relHum.temperature" name="temperature" #value="ngModel" (click)="$event.target.select()" (ngModelChange)="calcRelativeHumidity()"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">Results: &nbsp;&nbsp;
                </label>
                <div class="col-xs-8">
                  <span>% Volume (H<sub>2</sub>O): &nbsp; {{relHum.percentVolume}}%</span><br />
                  <span>Saturation Pressure: &nbsp; {{relHum.saturationPressure}} psia</span><br />
                </div>
              </div>          
            </form>
          </tab>
          <!--Convert between % Weight and Volume (H2O) -->
          <tab heading="Convert between % Weight and Volume (H2O)">
            <form novalidate #h="ngForm">
              <div class="form-group row">
                <label class="col-xs-4 col-form-label" >Calculation Type</label>
                <div class="col-xs-2" *ngFor="let typeH2O of H2OInputTypes">
                    <input type="radio" id="typeH2O-input" [(ngModel)]="wtVol.percentH2OInputType" name="h2OType" [value]="typeH2O.value" (ngModelChange)="calcPercentH2O()">{{typeH2O.display}}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">% (H<sub>2</sub>O):</label>
                <div class="col-xs-3">
                  <input type="number" class="form-control" [(ngModel)]="wtVol.percentH2OIn" name="percentH2OIn" #value="ngModel" percent (click)="$event.target.select()" (ngModelChange)="calcPercentH2O()"/>
                  <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                    <p *ngIf="value.errors.percent">
                        Value must be a valid %
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">Dry Gas Molecular Weight (Lb/Lb-Mole)</label>
                <div class="col-xs-3">
                  <input type="number" class="form-control" [(ngModel)]="wtVol.dryGasMolecularWeight" name="dryGasMolecularWeight" #value="ngModel" (click)="$event.target.select()" (ngModelChange)="calcPercentH2O()"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-4 col-form-label">Results: &nbsp;&nbsp;
                </label>
                <div class="col-xs-8">
                  <span *ngIf="wtVol.percentH2OInputType=='Weight'">% Volume (H<sub>2</sub>O): &nbsp; {{wtVol.percentH2OOut}}%</span>
                  <span *ngIf="wtVol.percentH2OInputType=='Volume'">% Weight (H<sub>2</sub>O): &nbsp; {{wtVol.percentH2OOut}}%</span>
                </div>
              </div>          
            </form>
          </tab>
          
        </tabset>
      </div>
    </tab>
    <!--<tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>-->
    <!--<tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>-->
  </tabset>
</div>