<div class="animated fadeIn">
  <div class="card card-block card-outline-primary ">
    <h4 class="card-title">Greeting</h4>
    <p class="card-text">Merry Christmas and Happy New Year from McGill</p>
    <hr>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <!--div class="col-xs-8 embed-responsive embed-responsive-16by9"-->
        <!--div class="col-xs-8 embed-responsive embed-responsive-21by9"-->
        <!--div class="col-xs-8 embed-responsive embed-responsive-1by1"-->
        <figure class="mcgill-picture">
          <img  class="img-fluid" src="assets/img/2019-Christmas-Greeting.jpg">
        </figure>
      </div>
    </div>
  </div>
</div>