<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Complete Turnkey Service for Your Air Pollution Control Needs</h4>
		<p class="card-text">We can start by using our mobile testing equipment to analyze your emissions and size a full-scale system for your application. Then, depending upon your emission control needs, we can supply a system that combines any or all of the following: </p>
		<ul>
			<li>Electrostatic precipitators, fabric filters, and ceramic filters for particulate removal</li>
			<li>Regenerative thermal oxidizers for control of volatile organic compounds</li>
			<li>DeNOx SCR reactors and ceramic filters for removal of NOx</li>
			<li>Reagent storage, reagent preparation, reagent transport, spray-dry scrubbers, and reaction chambers for acid gas control</li>
			<li>Auxiliary equipment like evaporative coolers, ductwork, control systems, and stacks for complete system operation</li>
		</ul>
		<p>We can handle construction of your system, supplying all of the necessary equipment. Finally, once installation has been completed, we will work with you to make sure your process meets emissions standards now, and in the future.</p>
	</div>
    <p></p>
	<div class="card card-block card-outline-success ">
        <div class="card-header card-inverse card-success">
            <h4>McGill Boiler MACT Solutions</h4>
        </div>
        <div class="media">
            <div class="media-left py-1">
                <img src="assets\img\dashboard\MACTillustration.jpg">
            </div>
            <div class="media-body py-1">
				<p>MACT concerns? We provide solutions for your control needs.</p>
				<p>McGill AirClean is uniquely positioned in the air pollution control industry with the ability to supply multiple solutions for any given application.</p>
                <a href="/mact"><h6>Click here to learn more</h6></a>
            </div>
	    </div>
	</div>
</div>