<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill AirClean provides complete turnkey systems for your air pollution needs.</h4>
		<p class="card-text">With over 40 years of experience, we can engineer, manufacture, and install a system to meet your air pollution control requirements.  Depending upon your emission control needs, we can supply a system that combines any of the following equipment:</p>
		<ul>
			<li><b>Particulate Control</b> - Wet or dry electrostatic precipitators, fabric filters, or catalytic/ceramic filters.</li>
			<li><b>Acid Gas Control</b> - (SOx, HCI, HF, B2O3, and Se) - Dry sorbent injection or spray dry scrubber systems, including reagent storage, and delivery equipment.</li>
			<li><b>NOx Control</b> - Selective catalytic reatorcs (SCRs), or catalytic filters, including ammonia storage and delivery equipment.</li>
			<li><b>VOC Control</b> - Regenerative thermal oxidizers (RTOs) with either electric heaters or gas burners.</li>
			<li><b>Auxiliary Equipment</b> - Including evaporative cooling chambers, ductwork with supports, fans, steel stacks, and complete power and control systems.</li>
		</ul>
		<p>We also provide complete construction services (erection, wiring, piping, insulation and siding, and foundations), we hire local qualified contractors who work under direct supervision of McGill's own field superintendents.  McGill field engineers provide the equipment check-out, start-up, and training services.</p>
	</div>
    <p></p>
</div>