<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill Files</h4>
		<p class="card-text">This application will allow employees of the McGill Family of Companies to share files with customers, clients, and other employees. It is meant to be used in place of sending email attachments.</p>
		<p class="card-text">Start by selecting the company desired for sharing.</p>
		<ul>
	   	 <li><a href="http://files.mcgillairclean.com"><h6>McGill AirClean <small>LLC</small></h6></a></li>
		</ul>
  </div>
</div>