// Here you can add other styles
* {
    -webkit-font-smoothing: none;
}

tabset.locations > .nav-tabs {
    background-color: aliceblue;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}

.btn-space {
  margin-left: 10px;
  margin-right: 10px;
}

.hr-blue {
  border-color: #20a8d8;
}

table {
    text-align: center;
    color:white;
    border-collapse:collapse;
    border: 1px solid #000;
    margin:4px;
    font-family: 'Roboto', sans-serif;
}

thead {
    background-color: #003366;
}

tbody {
    background-color: ButtonShadow;
}

.mcgill-mediumblue {
    background-color:#589CBF;
}

td {
  border:1px solid black;
}

th {
  border:1px solid black;
  background-color:#589CBF;
}


tfoot {
  color:black;
}

figure figcaption {
    display: table-caption; caption-side: bottom ;
}

figure figcaption.top{
    display: table-caption; caption-side: top ;
}

figure.mcgill-picture{
    display: table;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    width: auto;
    padding: 3px;
    text-align: center;
    margin: 8px;
}

figure.mcgill-float-left{
    float: left;
}

div.mcgill-boarder{
        border: 1px solid black;
}

p.mcgill-gold{
    color: red;
    text-shadow: 1px 1px black;
}

// Spinner

.tootlbar-icon {
  padding: 0 14px;
}

.tootlbar-spacer {
  flex: 1 1 auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#keytable {
    max-width: 750px;
}

#keytable tr{
    line-height:12px;
}

#keytable td, th{
    padding:1px;
}

.topheader {
	font-size: 12px;
	font-weight: bold;
	background-color: #1171a3;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	padding: 5px 0;
}

.columntitle {
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}

.firstkey, .lastkey {
	font-size: 10px;
	padding: 1px;
	text-align: left;
	border-top: 0;
	border-bottom: 0;
}

.colorkey {
	font-size: 10px;
	font-weight: bold;
	padding: 1px;
	text-align: center;
    max-width:5px;
}

.middlekey {
	font-size: 10px;
	padding: 1px;
	text-align: left;
	border-top: 0;
	border-bottom: 0;
}

.desckey {
	font-size: 10px;
	padding: 1px;
	text-align: center;
	border-top: 0;
}

.topblank {
	font-size: 6px;
	border-right: 0;
	border-bottom: 0;
}

.topleft {
	 font-size: 6px;
	 border-bottom: 0;
	 border-left: 0;
}

.topright {
	font-size: 6px;
	border-right: 0;
	border-bottom: 0;
}

.toplast {
	font-size: 6px;
	border-bottom: 0;
	border-left: 0;
}

.firstblank {
	font-size: 6px;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}

.colorblank {
	font-size: 6px;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}

.rightblank {
	font-size: 6px;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}

.leftblank {
	font-size: 6px;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}

.lastblank {
	font-size: 6px;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}

.allblank {
	font-size: 6px;
	border: 0;
}

.mcgill-black{
    color: black;
}

table.molecular {
    color:black;
    margin:1px;
}

thead.molecular {
    background-color: #1171a3;
    color: white;
    text-align: center;
}

tbody.molecular {
    background-color: white;
}

td.molecular {
  border:1px solid black;
}

th.molecular {
  border:1px solid black;
  background-color:#589CBF;
  text-align: center;
}

input.molecular {
  float:left;
  width:80px;
}

table.nolines {
    border: 0 solid white;
    padding: 0 0 0 0;
}

table.pollute {
    color:black;
    margin:1px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

thead.pollute {
    background-color: #1171a3;
    color: white;
    text-align: center;
}

tbody.pollute {
    background-color: white;
}

td.pollute {
  border:1px solid white;
  background-color: white;
}

td.pollute.right {
  text-align: right;
}

td.pollute.left {
  text-align: left;
}

th.pollute {
  border:1px solid black;
  background-color:#589CBF;
  text-align: center;
}

input.pollute {
  float:left;
  width:80px;
}

