<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Coat™ — Polyvinyl-Chloride-Coated Galvanized Steel Ductwork</h4><br />
                <div class="card-text">
                    <p>Uni-Coat duct and fittings are galvanized steel with a polyvinyl chloride (PVC) plastic coating that has been specially developed to resist corrosion in underground and concrete-encased underground ductwork applications. The PVC plastic coating material has passed thousands of hours of accelerated salt spray, humidity cabinet, and water immersion tests with no loss of adhesion or corrosion resistance. It resists corrosion from concrete and corrosion from minerals and salts found in normal backfill materials.</p>
                    <p>Uni-Coat duct and fittings enable you to install high-performance underground airflow systems. All components are machine-formed to ensure uniform size, construction, and performance. Standard Uni-Coat duct and fittings have a single-wall, round design. Standard diameters of 8 through 60 inches are available. We also offer double-wall, insulated round duct and fittings.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/unicoat/unicoat_duct.jpg">
                      <figcaption>
                        <strong>Uni-Coat Duct</strong>
                      </figcaption>
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>All Uni-Coat spiral duct is manufactured with a lockseam construction that adds strength and rigidity to the duct while maintaining a smooth interior to reduce friction. For underground and concrete-encased underground installations of duct 14 inches in diameter or larger, Uni-Coat duct is constructed with a double corrugation between the lockseams to further increase strength and rigidity.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/unicoat/unicoat_fittings.jpg">
                      <figcaption>
                        <strong>Uni-Coat Fittings</strong>
                      </figcaption>
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>The construction method used for Uni-Coat elbows depends on diameter and configuration. Standard round diameters (8 through 30 inches) are fabricated with McGill AirFlow's Uni-Seam™ standing seam construction. Fittings with a standing seam construction have been tested and shown to outperform solid-welded fittings. For the remaining diameters of elbows (31 through 60 inches), and for all diameters of other Uni-Coat fittings, the seam is riveted and sealed, button punched and sealed, or fastened with stainless steel sheet metal screws and sealed. The sealing material is McGill AirSeal's Uni-Coat™ Duct Sealer.</p>
                </div>
            </div>
        </tab>
        <tab heading="Materials/Touch-Up Paint">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Materials/Touch-Up Paint</h4><br />
                <div class="card-text">
                  <h4><p>Materials</p></h4>
                  <p>Uni-Coat duct and fittings are made of galvanized steel (18 through 26 gauge) with a G-60 zinc coating. A 4-mil-thick (0.004 inch) coating of PVC plastic is heat sealed to both sides of the metal. The actual thickness may vary slightly due to coating tolerances. This 4 x 4 mil coating is used for underground HVAC systems as a corrosion-resistant barrier and for outdoor exposed HVAC systems to protect the metal from moisture and chemicals in the air.</p>
                </div>
                <div class="card-text">
                  <h4><p>Toup-Up Paint</p></h4>
                  <p>Special attention should be given to any areas of the product in which the plastic coating is penetrated and the steel is exposed. That includes the edges of Uni-Coat duct and fittings, all penetrations (pop rivets, screws, etc.), and all areas of damage to the PVC plastic coating. McGill AirSeal's Uni-PVC™ touch-up paint should be applied to cover all exposed metal.</p>
                  <p>Prepare the surface to be painted by cleaning it with soap and water. Then dry the surface thoroughly. When painting, provide adequate ventilation and use an OSHA-approved mask. A brush with soft bristles is recommended to apply paint. Thinning agents are not recommended; however, if a thinning agent is necessary, use a methylisobutyl ketone (MIBK). Methylethyl ketones (MEK) may be used, but they are extremely volatile.</p>
                </div>
            </div>
        </tab>
        <tab heading="Underground Installation Guidlines">
            <div class="card card-block card-outline-primary ">
              <h4 class="card-title card-accent-primary">Installation Guidelines for Installing Underground Duct</h4><br />
                <div class="card-text">
                  <p>Detailed guidelines for designing and installing underground duct systems are provided in McGill AirFlow's Engineering Report No. 155, Underground Duct Design and Engineering Report No. 95, Underground Duct Installation.</p>
                </div>
                <div class="card-text">
                  <ol>
                    <li>Trenches must be pitched to prevent the buildup of water around the ductwork.</li>
                    <li>Appropriate girth angle structural reinforcement must be installed on the ductwork. Such reinforcement should be designed by a structural engineer based on local conditions.</li>
                    <li>Ductwork encased in concrete must be tied down to avoid floating during pouring.</li>
                    <li>Fill or concrete must not be poured directly onto the ductwork. It should be poured in successive layers and tamped firmly around the ductwork. Pouring fill or concrete directly onto the ductwork will cause denting or collapse.</li>
                    <li>Vapor barriers must always be used between the ductwork and the fill or concrete.</li>
                    <li>Ductwork must always be buried above the water table.</li>
                    <li>Use the metal thicknesses listed in McGill AirFlow's specifications for underground ductwork.</li>
                    <li>Water-based duct sealants should never be used in underground applications.</li>
                    <table cellpadding=5>
                      <thead>
                          <tr>
                              <td>Diameter (inches)</td>
                              <td>Maximum Loading<br />(lb/linear ft)</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>8 or less<sup>*</sup></td>
                              <td>400</td>
                          </tr>
                          <tr>
                              <td>9 - 13 1/2<sup>*</sup></td>
                              <td>600</td>
                          </tr>
                          <tr>
                              <td>14 - 36<sup>**</sup></td>
                              <td>1,800</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td><sup>*</sup>uncorrugated</td>
                              <td><sup>**</sup>corrugated</td>
                          </tr>
                      </tfoot>
                    </table>
                  </ol>
                </div>
                <div class="card-text">
                  <h6>Assumptions</h6>
                  <p>Soil Modulus = 200 psi<br />
                  Soil Density = 120 lb/ft3<br />
                  Soil Depth = 5 ft</p>
                  <p>Loading specifications for duct larger than 36 inches in diameter have not been determined. Although duct as large as 60 inches in diameter has been used successfully in underground systems, it should be installed only by contractors experienced in this application. For any diameter duct, metal thickness can be increased to a maximum of 18 gauge. Angle rings or other bracing can be added for additional reinforcement. All external reinforcement should be primed and coated with Uni-Coat paint.</p>
                </div>
                <hr>
                <div>
                  <div class="card-text">
                    <h6>Under-Slab, Above Grade</h6>
                    <p>The duct, either encased in concrete or buried directly below a concrete slab, is installed above the original line of undisturbed soil and above the water table. Encasing the duct in concrete with a porous fill beneath it is the best way to install Uni-Coat duct. An appropriate vapor barrier (e.g., 4 mil polyethylene) must be placed between the duct and the concrete.</p>
                    <p>If the duct is too large for concrete encasement, it should be buried in a porous fill, and a vapor barrier must be placed between the fill and the duct wall. A 2 1/2-inch minimum thickness concrete slab should be placed over the duct, with the top of the duct, near the bottom of the slab. A vapor barrier must also be placed between the slab and the fill.</p>
                  </div>
                  <div>
                      <figure class="mcgill-picture">
                          <img src="assets/img/unicoat/uc_abovegrade.jpg">
                        <figcaption>
                          <strong>Above Grade</strong>
                        </figcaption>
                      </figure>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="card-text">
                    <h6>Under-Slab, Below Grade</h6>
                    <p>The duct, either encased in concrete or buried directly below a concrete slab, is installed below the original grade, but safely above the water table. This installation requires that the duct be buried in a trench with porous fill and an appropriate vapor barrier.</p>
                    <p>The first 12 inches of fill must be carefully shoveled on top of the duct. The fill must not be dumped or shoved directly into the trench and must not contain stones larger than 2 inches in diameter. Once the duct is properly covered, the fill must be firmly tamped under and around the duct, but must not be heavily impacted. Light equipment such as small bulldozers or backhoes must not be operated near the area until there is at least 2 1/2 feet of compacted cover.</p>
                    <p>Heavy equipment, such as bulldozers and loaded dump trucks, must not be operated near the site until there is at least 5 feet of compacted cover. Bridging is required if maximum loading is exceeded. Refer to McGill AirFlow's Engineering Report No. 155 when determining maximum depth of burial.</p>
                  </div>
                  <div>
                      <figure class="mcgill-picture">
                          <img src="assets/img/unicoat/uc_belowgrade.jpg">
                        <figcaption>
                          <strong>Below Grade</strong>
                        </figcaption>
                      </figure>
                  </div>
                </div>
                <hr>
                <div>
                  <div class="card-text">
                    <h6>Underground, Not Under-Slab</h6>
                    <p>The duct is buried above the water table, avoiding groundwater infiltration, but is not beneath or encased in concrete. The installation procedure is the same as for under-slab, below grade. Make sure that at least 12 inches of compacted cover exists. Any equipment that can cause point loads above the ductwork (even light loads) must not be operated near the area.</p>
                    <p>Uni-Coat duct and fittings are not recommended for installations in which water infiltration might occur.</p>
                  </div>
                  <div>
                      <figure class="mcgill-picture">
                          <img src="assets/img/unicoat/uc_underslab.jpg">
                        <figcaption>
                          <strong>Not Under Slab</strong>
                        </figcaption>
                      </figure>
                  </div>
                </div>
            </div>
        </tab>
        <tab heading="Limitations">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Coat™ — Ductwork Limitations</h4><br />
                <div class="card-text">
                  <h4><p>Fume Exhaust Systems</p></h4>
                  <p>McGill AirFlow advises caution in specifying or using any polyvinyl chloride (PVC) plastic-coated, galvanized steel ductwork (including its Uni-Coat products) for corrosive or condensing fume exhaust applications. The PVC plastic-coated, galvanized steel is delivered in large coils with un-coated edges, and with coating imperfections that may not be visible. The duct and fittings are made from the coils using conventional sheet metal ductwork fabrication methods, including: burning, shearing, braking, rolling, rollforming and the use of screws and rivets. The resulting products have many exposed edges and scratches, both inside and outside, in addition to the imperfections in the coil coating. That means that bare steel and zinc would be exposed to what may be corrosive or condensing fumes. McGill AirFlow’s Warranty does not cover the effects of corrosion.</p>
                  <p>Engineers must determine the suitability of the Uni-Coat products and associated sealants based on the expected chemical or condensation exposure of the ductwork interior. Installing contractors would be responsible for coating or painting any exposed metal surfaces of the Uni-Coat ductwork, after the duct system has been installed. McGill AirFlow and McGill AirSeal offer sealants and touch-up paint for Uni-Coat ductwork, but their use does not assure a corrosion-resistant duct system.</p>
                  <p>McGill AirFlow offers ductwork made from other materials that are more suitable for corrosive or condensing fume exhaust duct systems, such as Types 304 and 316 stainless steel and Type 3003-H14 aluminum.</p>
                </div>
                <div class="card-text">
                  <h4><p>Temperature</p></h4>
                  <p>The practical surface temperature range for using Uni-Coat ductwork is -30°F to +200°F. McGill AirFlow’s Warranty does not cover the effects of extreme temperatures.</p>
                </div>
                <div class="card-text">
                  <h4><p>Exposed Duct Systems</p></h4>
                  <p>McGill AirFlow does not recommend the use of PVC plastic-coated ductwork (including its Uni-Coat products) for exposed applications in which appearance is important, unless the owner and engineer are willing to accept the kinds of surface defects and appearance issues described under "Fume Exhaust Duct Systems" above or do the necessary touch-up painting. Instead, McGill AirFlow recommends paintable galvanized steel ductwork, to be prepared, primed, and painted after the duct system is installed.</p>
                </div>
            </div>
        </tab>
    </tabset>
</div>